<!--------------------------------------------------------------------------- 



[가이드 사용법]
data-title : Component 이름
data-desc : Component 상세 설명, HTML 마크업 작성 가능 (생략가능)
data-voice : 리더기에서 읽어주는 소리, HTML 마크업 작성 가능. PC단일 프로젝트일때 사용. 이 속성 사용시 아래 ios, android, pc와 같이 사용하면 안됨. (생략가능)
data-v-ios : IOS의 Voice Over 에서 읽어주는 소리, HTML 마크업 작성 가능. (생략가능)
data-v-android : 안드로이드(Talk back, Voice Assistant) 에서 읽어주는 소리, HTML 마크업 작성 가능. (생략가능)
data-v-pc : PC 스크린리더에서 읽어주는 소리, HTML 마크업 작성 가능. (생략가능)
data-url : 적용된 페이지 URL, 한 페이지일 때는 string형태, 여러 페이지일 경우 배열형태로 입력 (생략가능)

마크업 들어가는 부분은 띄어쓰기, TAB키 모두 그대로 반영됨. 복사를 해서 사용하기 때문에 빈 공백없이 하는 것을 추천



--------------------------------------------------------------------------->

<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>
<body>
<div class="likeSubpage">
<!---------------------- section ----------------------->
<div class="section" data-title='Component 이름' data-desc='상세 설명, 없으면 빈칸' data-url="적용된 사이트 URL" data-voice="스크린리더에서 읽어주는 내용 표시">
	마크업들어가는 부분
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section" data-title='Component 이름' data-url="적용된 사이트 URL" data-v-ios="IOS에서 읽어주는 소리" data-v-android="Android에서 읽어주는 소리" data-v-pc="스크린리더에서 읽어주는 소리">
	마크업들어가는 부분
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section" data-title='Component 이름' data-url="적용된 사이트 URL" data-voice="스크린리더에서 읽어주는 내용 표시">
	마크업들어가는 부분
</div><!-- section -->


</div><!-- likeSubpage -->

</body>
</html>