<!DOCTYPE html>
<!--[if IE 7]><html lang="ko" class="ie ie7"><![endif]-->
<!--[if IE 8]><html lang="ko" class="ie ie8"><![endif]-->
<!--[if IE 9]><html lang="ko" class="ie ie9"><![endif]-->
<!--[if !IE]><!--><html lang="ko"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	
	<link rel="shortcut icon" type="image/x-icon" href="../img/favicon_240.png">
	
	<link rel="stylesheet" type="text/css" href="../inc/css/fontawesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="../inc/css/guide.css">
	<link rel="stylesheet" type="text/css" href="../inc/css/wg.reset.css">
	
	<script type="text/javascript" src="../inc/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../inc/js/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="../inc/js/guide.js"></script>
	<script type="text/javascript" src="../inc/js/data_menu.js"></script>
	
	<!-- 가이드외에 실제 사용할 파일들 -->
	<link rel="stylesheet" type="text/css" href="../../resources/css/homepage/common.css">
	<link rel="stylesheet" type="text/css" href="../../resources/css/homepage/fonts.css">
	
</head>
<body class="wg">
	<!-- header (s) -->
	<script type="text/javascript">wgGnbInit(2);</script>
	<!-- header (e) //-->

	<div class="wgContainer">
		<!-- Left Navigation (s) -->
		<script type="text/javascript">template();</script>
		<!-- Left Navigation (e) //-->
		
		<div class="wgContent">
			<div class="wgTop">
				<h3></h3>
			</div>
			
			<div class="wgCont"><!-- likeSubpage -->
				<!-- //여기서부터 내용 S -->
				<div class="wgRow">
					<div class="status">
						<strong class="wgTit">HTML Markup</strong>
					</div>
					<div class="wgBtns">
						<a href="#" class="wgBtn copy" onclick='copyToClipboard($(".layoutCode").text());return false;' title="코드복사"><i class="fas fa-copy"></i></a>
						<a href="#" class="wgBtn view" title="새창열기" target="_blank"><i class="fas fa-external-link-alt"></i></a>
					</div>
				</div>
				<!-- //여기서부터 내용 E -->
			
<div class="section round">
	<div class="wgCodeView layoutWrap">
		<xmp class="layoutCode"></xmp>
	</div>
</div>

		</div><!--// wgCont-->
	</div><!--// wgContent-->
</div><!--// wgContainer-->
</body>
</html>
