<!DOCTYPE html>
<!--[if IE 7]><html lang="ko" class="ie ie7"><![endif]-->
<!--[if IE 8]><html lang="ko" class="ie ie8"><![endif]-->
<!--[if IE 9]><html lang="ko" class="ie ie9"><![endif]-->
<!--[if !IE]><!--><html lang="ko"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	
	<link rel="shortcut icon" type="image/x-icon" href="../img/favicon_240.png">
	
	<link rel="stylesheet" type="text/css" href="../inc/css/fontawesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="../inc/css/guide.css">
	<link rel="stylesheet" type="text/css" href="../inc/css/wg.reset.css">
	
	<script type="text/javascript" src="../inc/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../inc/js/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="../inc/js/guide.js"></script>
	<script type="text/javascript" src="../inc/js/data_menu.js"></script>
	
	<!-- 가이드외에 실제 사용할 파일들 -->
	<link rel="stylesheet" type="text/css" href="../../resources/css/homepage/fonts.css">
	<link rel="stylesheet" type="text/css" href="../../resources/css/homepage/common.css">
	<link rel="stylesheet" type="text/css" href="../../resources/css/homepage/content.css">
	<link rel="stylesheet" type="text/css" href="../../resources/css/homepage/swiper.min.css">
	<script src="../../resources/library/jquery/jquery-ui.min.js"></script>
	<script src="../../resources/library/jquery/jquery.mailtip.js"></script>
	<script src="../../resources/library/jquery/swiper.min.js"></script>
	<script src="../../resources/js/pub/ui.front.js"></script>
	
<body class="wg">
	<!-- header (s) -->
	<script type="text/javascript">wgGnbInit(2);</script>
	<!-- header (e) //-->

	<div class="wgContainer">
		<!-- Left Navigation (s) -->
		<script type="text/javascript">template();</script>
		<!-- Left Navigation (e) //-->
		
		<div class="wgContent">
			<div class="wgTop">
				<h3></h3>
				<div class="wgRow">
					<div class="wgBtns">
						<a href="#" onclick="toggleAllCode(); return false;" class="wgBtn code"  title="소스보기 전체펼침"><i class="fas fa-code">전체펼침</i></a>
						<a href="#" onclick="toggleAllInfo(); return false;" class="wgBtn info" title="가이드 설명 전체펼침"><i class="fas fa-info">전체펼침</i></a>
						<a href="#" onclick="toggleAllVoice(); return false;" class="wgBtn voice" title="리더기 전체펼침"><i class="fas fa-volume-up">전체펼침</i></a>
					</div>
				</div>
			</div>
			
			<div class="wgCon likeSubpage"><!-- likeSubpage -->
<!-- 여기서부터 코드 (S) -->




				<!-- 여기서부터 내용 e -->
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	$(document).ready(function(){
		layout.init();
	})
	</script>
</body>
</html>

