<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<style>
	.helpWrap {margin:0;}
</style>

<!---------------------- section ----------------------->
<div class="section done" data-title='도움말'>
<ul class="helpWrap">
	<li>
		<h2 class="accoHead">
			<button type="button" class="icoBtn_acco">도움말</button>
		</h2>

		<div class="accoBody">
			<ul class="txtList disc">
				<li>일반 문의는 접수일로부터 영업일 기준 24시간 안에 답변드릴 수 있도록 최선을 다하겠습니다.<br> 단, 고객 불만 접수 및 해당 부서에 확인이 필요한 경우는 답변이 지연될 수 있음을 양해 부탁드립니다.</li>
				<li>등록하신 글은 <em>고객의 소리 > 나의 접수내역</em>에서 확인하실 수 있습니다.</li>
				<li>첨부파일은 DOC, DOCX, PPT, PPTX, XLS, XLSX, PDF, HWP, JPG, GIF, PNG만 업로드 가능합니다.</li>
				<li class="pointC4">고객님께서 첨부하신 파일은 고객님의 개인정보보호를 위해 암호화 처리되어 향후 조회가 가능하지 않습니다.<br>
					첨부하신 파일내용을 확인하시려면 콜센터(<a href="tel:1588-5580">1588-5580</a>)로 연락주시기 바랍니다.</li>
			</ul>
		</div>
	</li>
</ul>
</div><!-- section -->

</div><!-- likeSubpage -->

</body>
</html>