<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<style>
	.btnArea.sticky {margin:0;}
</style>
<!---------------------- section ----------------------->
<div class="section done" data-title='Primary Button(긍정/다음) : class="btn_p"' data-desc=''>
<a href="#" class="btn_p">긍정/다음 a link</a>
<input type="button" name="" class="btn_p" value="긍정/다음 input">
<button type="button" class="btn_p">긍정/다음 Button</button>
<button type="button" class="btn_p" disabled="disabled">긍정/다음 disabled</button>
<button type="button" class="btn_p m">긍정/다음 Button</button>
<button type="button" class="btn_p s">긍정/다음 Button</button>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='Secondary Button(부정/이전) : class="btn_s"' data-desc=''>
<a href="#" class="btn_s">부정/이전 a link</a>
<input type="button" name="" class="btn_s" value="부정/이전 input">
<button type="button" class="btn_s">부정/이전 Button</button>
<button type="button" class="btn_s" disabled="disabled">부정/이전 disabled</button>
<button type="button" class="btn_s m">부정/이전 Button</button>
<button type="button" class="btn_s s">부정/이전 Button</button>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='Tertiary Button(강조/번외) : class="btn_t"' data-desc=''>
<a href="#" class="btn_t">강조/번외 a link</a>
<button type="button" class="btn_t">강조/번외 Button</button>
<button type="button" class="btn_t m">강조/번외 Button</button>
<button type="button" class="btn_t s">강조/번외 Button</button>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='사용예 : 페이지 하단' data-desc=''>
<!-- btnArea (s) -->
<div class="btnArea sticky">
	<button type="button" class="btn_s">부정/이전</button>
	<button type="button" class="btn_p">긍정/다음</button>
</div>
<!-- btnArea (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='더보기' data-desc=''>
<button type="button" class="btn_s m more"><span>더보기 <span><em>5</em>/30</span></span></button>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='아이콘 + 텍스트 버튼 1' data-desc=''>
<button type="button" class="btn_s s down"><span>위임장</span></button>
</div><!-- section -->


</div><!-- likeSubpage -->

</body>
</html>