<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='게시판 리스트' data-desc='첨부파일이 있을 경우 리스트에서 다운로드 가능합니다.'>
<!-- bbs list (s) -->
<ul class="bbsList">
	<li>
		<a href="#" class="bbsHead">
			<div class="tit">신한그룹 3사(신한금투, 신한생명, 오렌지라이프) 공동 데이터 신사업전략 컨설팅 업체 선정의 건 신한그룹 3사(신한금투, 신한생명, 오렌지라이프) 공동 데이터 신사업전략 컨설팅 업체 선정의 건 신한그룹 3사(신한금투, 신한생명, 오렌지라이프) 공동 데이터 신사업전략 컨설팅 업체 선정의 건</div>
			<div class="date">2020.11.26</div>
		</a>
	</li>
	<li>
		<a href="#" class="bbsHead">
			<div class="tit">[자산운용보고서] 피델리티자산운용</div>
			<div class="date">2020.11.26</div>
		</a>
	</li>
	<li>
		<a href="#" class="bbsHead">
			<div class="tit">[자산운용보고서] 피델리티자산운용</div>
			<div class="date">2020.11.26</div>
		</a>
	</li>
</ul>
<!-- bbs list (e) -->

<!-- paging (s) -->
<div class="paging" role="navigation" aria-label="페이지 선택 영역">
	<button type="button" class="icoBtn_prev" aria-label="이전"></button>
	<ul>
		<li class="on"><em><span class="blind">현재 페이지</span> 1</em></li>
		<li><a href="#"><span class="blind">페이지</span>2</a></li>
		<li><a href="#"><span class="blind">페이지</span>3</a></li>
		<li><a href="#"><span class="blind">페이지</span>4</a></li>
		<li><a href="#"><span class="blind">페이지</span>5</a></li>
	</ul>
	<button type="button" class="icoBtn_next" aria-label="다음"></button>
</div>
<!-- paging (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='게시판 view' data-desc=''>
<!-- bbs view (s) -->
<div class="bbsView">
	<div class="bbsHead">
		<div class="titArea">
			<h1 class="tit">일반진단서로 후유장해 보험금을 청구할 수는 없나요?</h1>
		</div>
		<div class="txtItem">
			<span><span class="blind">등록일자</span> 2020.07.30</span>
			<span>조회 135</span>
		</div>
	</div>

	<div class="bbsBody">
		안녕하세요. 얼마전 신한생명에서 보험가입한 사람입니다.<br>
		이 밤 그날의 반딧불을 당신의 창 가까이 보낼게요 음 사랑한다는 말이예요. 나 우리의 첫 입맛춤을 떠올려 그럼 언제든 눈을 감고<br>
		음 가장 먼 곳으로 가요. 난 파도가 머물던 모래 위에 적힌 글씨처럼 그대로 멀리 사라져 버릴 것 같아 늘 그리워 그리워<br><br>

		어떻게 나에게 난 파도가 머물던 모래 위에 적힌 글씨처럼그대가 멀리 사라져 버릴 것 같아 또 그리워 더 그리워 나의 일기장 안에 모든 말을 다 꺼내어 줄 순 없지만 사랑한다는 말 이 밤 그날의 반딧불을 당신의 창 가까이 띄울게요 음 좋은 꿈 이길 바라요.<br><br>

		답변 부탁드릴께요~ 감사합니다.
	</div>
</div>
<!-- bbs view (e) -->

<ul class="bbsPager">
	<li>
		<a href="#" class="tit">
			<span class="itemPrev">이전글</span>
			[카테고리] 이전글 제목이 출력됩니다.
		</a>
	</li>
	<li>
		<a href="#" class="tit">
			<span class="itemNext">다음글</span>
			[카테고리] 다음글 제목이 출력됩니다. 다음글 제목이 출력됩니다. 다음글 제목이 출력됩니다. 다음글 제목이 출력됩니다. 다음글 제목이 출력됩니다. 다음글 제목이 출력됩니다.
		</a>
	</li>
	<li>
		<span class="tit">
			<span class="itemPrev">이전글</span>
			등록된 게시물이 없습니다.
		</span>
	</li>
	<li>
		<span class="tit">
			<span class="itemNext">다음글</span>
			등록된 게시물이 없습니다.
		</span>
	</li>
</ul>

<!-- btnArea (s) -->
<div class="btnArea">
	<button type="button" class="btn_t">목록</button>
</div>
<!-- btnArea (e) -->
</div><!-- section -->

</div><!-- likeSubpage -->

</body>
</html>