<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<style>
	.wg .toggleSwitch .off {display:block !important;}
</style>

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='checkbox'>
<span class="single">
	<input type="checkbox" class="ipt" name="" id="chk_1"><label for="chk_1">체크박스</label>
</span>

<span class="single">
	<input type="checkbox" class="ipt" name="" id="chk_2" checked="checked"><label for="chk_2">체크박스 check</label>
</span>

<span class="single">
	<input type="checkbox" class="ipt" name="" id="chk_3" disabled="disabled"><label for="chk_3">체크박스 disabled</label>
</span>

<span class="single">
	<input type="checkbox" class="ipt" name="" id="chk_4" checked="checked" disabled="disabled"><label for="chk_4">체크박스 check + disabled</label>
</span>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='checkbox 묶음 - 가로'>
<ul class="iptGroup">
	<li>
		<input type="checkbox" class="ipt" name="chk2" id="chk2_1">
		<label for="chk2_1">9시~10시</label>
	</li>
	<li>
		<input type="checkbox" class="ipt" name="chk2" id="chk2_2">
		<label for="chk2_2">10시~11시</label>
	</li>
	<li>
		<input type="checkbox" class="ipt" name="chk2" id="chk2_3">
		<label for="chk2_3">11시~12시</label>
	</li>
	<li>
		<input type="checkbox" class="ipt" name="chk2" id="chk2_4">
		<label for="chk2_4">12시~1시</label>
	</li>
	<li>
		<input type="checkbox" class="ipt" name="chk2" id="chk2_5">
		<label for="chk2_5">1시~2시</label>
	</li>
	<li>
		<input type="checkbox" class="ipt" name="chk2" id="chk2_6">
		<label for="chk2_6">2시~3시</label>
	</li>
	<li>
		<input type="checkbox" class="ipt" name="chk2" id="chk2_7">
		<label for="chk2_7">3시~4시</label>
	</li>
	<li>
		<input type="checkbox" class="ipt" name="chk2" id="chk2_8">
		<label for="chk2_8">4시~5시</label>
	</li>
	<li>
		<input type="checkbox" class="ipt" name="chk2" id="chk2_9">
		<label for="chk2_9">5시~6시</label>
	</li>
	<li>
		<input type="checkbox" class="ipt" name="chk2" id="chk2_10">
		<label for="chk2_10">6시~7시</label>
	</li>
	<li>
		<input type="checkbox" class="ipt" name="chk2" id="chk2_11">
		<label for="chk2_11">7시~8시</label>
	</li>
	<li>
		<input type="checkbox" class="ipt" name="chk2" id="chk2_12">
		<label for="chk2_12">8시~9시</label>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='checkbox 묶음 - 세로'>
<ul class="iptGroup vertical">
	<li>
		<input type="checkbox" class="ipt" name="chk3" id="chk3_1">
		<label for="chk3_1">9시~10시</label>
	</li>
	<li>
		<input type="checkbox" class="ipt" name="chk3" id="chk3_2">
		<label for="chk3_2">10시~11시</label>
	</li>
	<li>
		<input type="checkbox" class="ipt" name="chk3" id="chk3_3">
		<label for="chk3_3">11시~12시</label>
	</li>
	<li>
		<input type="checkbox" class="ipt" name="chk3" id="chk3_4">
		<label for="chk3_4">12시~1시</label>
	</li>
	<li>
		<input type="checkbox" class="ipt" name="chk3" id="chk3_5">
		<label for="chk3_5">1시~2시</label>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='radio'>
<span class="single">
	<input type="radio" class="ipt" name="" id="rdo_1"><label for="rdo_1">라디오</label>
</span>

<span class="single">
	<input type="radio" class="ipt" name="" id="rdo_2" checked="checked"><label for="rdo_2">라디오 check</label>
</span>

<span class="single">
	<input type="radio" class="ipt" name="" id="rdo_3" disabled="disabled"><label for="rdo_3">라디오 disabled</label>
</span>

<span class="single">
	<input type="radio" class="ipt" name="" id="rdo_4" checked="checked" disabled="disabled"><label for="rdo_4">라디오 check + disabled</label>
</span>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='radio 묶음 - 가로'>
<ul class="iptGroup">
	<li>
		<input type="radio" class="ipt" name="rdo2" id="rdo2_1">
		<label for="rdo2_1">9시~10시</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="rdo2" id="rdo2_2">
		<label for="rdo2_2">10시~11시</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="rdo2" id="rdo2_3">
		<label for="rdo2_3">11시~12시</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="rdo2" id="rdo2_4">
		<label for="rdo2_4">12시~1시</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="rdo2" id="rdo2_5">
		<label for="rdo2_5">1시~2시</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="rdo2" id="rdo2_6">
		<label for="rdo2_6">2시~3시</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="rdo2" id="rdo2_7">
		<label for="rdo2_7">3시~4시</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="rdo2" id="rdo2_8">
		<label for="rdo2_8">4시~5시</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="rdo2" id="rdo2_9">
		<label for="rdo2_9">5시~6시</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="rdo2" id="rdo2_10">
		<label for="rdo2_10">6시~7시</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="rdo2" id="rdo2_11">
		<label for="rdo2_11">7시~8시</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="rdo2" id="rdo2_12">
		<label for="rdo2_12">8시~9시</label>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='radio 묶음 - 세로'>
<ul class="iptGroup vertical">
	<li>
		<input type="radio" class="ipt" name="rdo3" id="rdo3_1">
		<label for="rdo3_1">9시~10시</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="rdo3" id="rdo3_2">
		<label for="rdo3_2">10시~11시</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="rdo3" id="rdo3_3">
		<label for="rdo3_3">11시~12시</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="rdo3" id="rdo3_4">
		<label for="rdo3_4">12시~1시</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="rdo3" id="rdo3_5">
		<label for="rdo3_5">1시~2시</label>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='Filter 버튼(Tab스타일)' data-desc=''>
<ul class="iptFilt tab">
	<li>
		<input type="radio" class="ipt" name="filterTab0" id="filterTab0_1">
		<label for="filterTab0_1">필터1</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="filterTab0" id="filterTab0_2" checked>
		<label for="filterTab0_2">필터2</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="filterTab0" id="filterTab0_3">
		<label for="filterTab0_3">필터3</label>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='Filter 버튼' data-desc=''>
<ul class="iptFilt">
	<li>
		<input type="radio" class="ipt" name="filter0" id="filter0_1">
		<label for="filter0_1">일반</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="filter0" id="filter0_2" checked>
		<label for="filter0_2">민원</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="filter0" id="filter0_3">
		<label for="filter0_3">칭찬</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="filter0" id="filter0_4">
		<label for="filter0_4">제안</label>
	</li>
</ul>
<ul class="iptFilt div_2">
	<li>
		<input type="radio" class="ipt" name="filter1" id="filter1_0" checked>
		<label for="filter1_0">SMS</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="filter1" id="filter1_1">
		<label for="filter1_1">이메일</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="filter1" id="filter1_2">
		<label for="filter1_2">우편</label>
	</li>
	<li class="brbr">
		<input type="radio" class="ipt" name="filter1" id="filter1_3">
		<label for="filter1_3">미신청</label>
	</li>
</ul>

<ul class="iptFilt div_2">
	<li class="merge2">
		<input type="radio" class="ipt" name="filter2" id="filter2_1" checked>
		<label for="filter2_1">전체</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="filter2" id="filter2_2">
		<label for="filter2_2">중도인출</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="filter2" id="filter2_3">
		<label for="filter2_3">해지환급</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="filter2" id="filter2_4">
		<label for="filter2_4">휴면</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="filter2" id="filter2_5">
		<label for="filter2_5">만기</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="filter2" id="filter2_6">
		<label for="filter2_6">분할</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="filter2" id="filter2_7">
		<label for="filter2_7">보험계약대출</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="filter2" id="filter2_8">
		<label for="filter2_8">배당금</label>
	</li>
	<li>
		<input type="radio" class="ipt" name="filter2" id="filter2_9">
		<label for="filter2_9">연금</label>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='toggle 버튼' data-desc=''>
<!-- basic -->
<span class="toggleSwitch">
	<input type="checkbox" id="switch1_0">
	<label for="switch1_0">
		<span>판매중지 상품 제외</span>
	</label>
</span>
<!-- ON/OFF --><br>
<span class="toggleSwitch">
	<input type="checkbox" id="switch1_1">
	<label for="switch1_1">
		<span class="blind">무배당 임페리얼 어린이보험 Ⅲ (실속환급형) 갱신변경</span>
		<span>
			<span class="off">거절</span>
			<span class="on">갱신</span>
		</span>
	</label>
</span>
<!-- front, ON/OFF --><br>
<span class="toggleSwitch front">
	<input type="checkbox" id="switch1_2" checked>
	<label for="switch1_2">
		<span class="blind">무배당 임페리얼 어린이보험 Ⅲ (실속환급형) 증액특전</span>
		<span>
			<span class="off">취소</span>
			<span class="on">신청</span>
		</span>
	</label>
</span>
<!-- large --><br>
<span class="toggleSwitch lg">
	<input type="checkbox" id="switch_lg_0">
	<label for="switch_lg_0">
		<span>치료중</span>
	</label>
</span>
<!-- large, ON/OFF --><br>
<span class="toggleSwitch lg">
	<input type="checkbox" id="switch_lg_1">
	<label for="switch_lg_1">
		<span class="blind">포트폴리오 적용</span>
		<span>
			<span class="off">OFF</span>
			<span class="on">ON</span>
		</span>
	</label>
</span>
</div><!-- section -->

</div><!-- likeSubpage -->

</body>
</html>