<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<style>
	.progress {margin:0;}
	.progressStep {position:relative; margin-bottom:30px;}
	.progressStep .bar {position:static; width:100%;}
	.progressStep .num {top:11px;}
</style>
<!---------------------- section ----------------------->
<div class="section done" data-title='progress(디지털보험)' data-desc='활성화 li에 on 클래스 추가, 나머지 스탭은 li 생성'>
<!-- progress (s) -->
<div class="progress">
	<ol>
		<li></li>
		<li class="on"><span>정보입력</span></li>
		<li></li>
		<li></li>
	</ol>
</div>
<!-- progress (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='progress(디지털창구)' data-desc='data어트리뷰트로 단계설정'>
<!-- progressStep (s) -->
<div class="progressStep" data-total="6" data-current="2"></div>
<!-- progressStep (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='페이징' data-desc=''>
<!-- paging (s) -->
<div class="paging" role="navigation" aria-label="페이지 선택 영역">
	<button type="button" class="icoBtn_prev" aria-label="이전"></button>
	<ul>
		<li class="on"><em><span class="blind">현재 페이지</span> 1</em></li>
		<li><a href="#"><span class="blind">페이지</span>2</a></li>
		<li><a href="#"><span class="blind">페이지</span>3</a></li>
		<li><a href="#"><span class="blind">페이지</span>4</a></li>
		<li><a href="#"><span class="blind">페이지</span>5</a></li>
	</ul>
	<button type="button" class="icoBtn_next" aria-label="다음"></button>
</div>
<!-- paging (e) -->
</div><!-- section -->


</div><!-- likeSubpage -->

</body>
</html>