<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<!---------------------- section ----------------------->
<div class="section done" data-title='주의사항' data-desc=''>
<p class="txtList caution">주택담보대출만 체크<br>(단, 대환대상 주택담보대출은 체크해제 필수!)</p>
<p class="txtList caution bgP">추가서류보완</p>
<p class="txtList caution bgG">추가서류보완</p>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='블릿 없는 리스트' data-desc=''>
<ul class="txtList">
	<li>보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</li>
	<li>보험금 및 제지급금 지급정보 : 사고정보, 보험사기 조사 관련 정보, 본인의 위임을 받아 취득한 각종 조사서, 판결문, 증명서, 확인서, 진료기록 등에 포함된 개인(신용)정보 포함 및 손해사정 업무 수행과 관련하여 취득한 개인(신용)정보, 보험계약관계자의 재정상태에 관한 정보</li>
	<li>피보험자 및 종피보험자의 질병 및 상해에 관한 정보</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='숫자 L' data-desc=''>
<ol class="txtList numL">
	<li>보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</li>
	<li>보험금 및 제지급금 지급정보 : 사고정보, 보험사기 조사 관련 정보, 본인의 위임을 받아 취득한 각종 조사서, 판결문, 증명서, 확인서, 진료기록 등에 포함된 개인(신용)정보 포함 및 손해사정 업무 수행과 관련하여 취득한 개인(신용)정보, 보험계약관계자의 재정상태에 관한 정보</li>
	<li>피보험자 및 종피보험자의 질병 및 상해에 관한 정보</li>
</ol>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='숫자 M' data-desc=''>
<ol class="txtList numM">
	<li>보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</li>
	<li>보험금 및 제지급금 지급정보 : 사고정보, 보험사기 조사 관련 정보, 본인의 위임을 받아 취득한 각종 조사서, 판결문, 증명서, 확인서, 진료기록 등에 포함된 개인(신용)정보 포함 및 손해사정 업무 수행과 관련하여 취득한 개인(신용)정보, 보험계약관계자의 재정상태에 관한 정보</li>
	<li>피보험자 및 종피보험자의 질병 및 상해에 관한 정보</li>
</ol>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='숫자 S' data-desc=''>
<ol class="txtList numS">
	<li>보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</li>
	<li>보험금 및 제지급금 지급정보 : 사고정보, 보험사기 조사 관련 정보, 본인의 위임을 받아 취득한 각종 조사서, 판결문, 증명서, 확인서, 진료기록 등에 포함된 개인(신용)정보 포함 및 손해사정 업무 수행과 관련하여 취득한 개인(신용)정보, 보험계약관계자의 재정상태에 관한 정보</li>
	<li>피보험자 및 종피보험자의 질병 및 상해에 관한 정보</li>
</ol>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='한글 1' data-desc=''>
<ol class="txtList hangul">
	<li><span class="count">가.</span> 보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</li>
	<li><span class="count">나.</span> 보험금 및 제지급금 지급정보 : 사고정보, 보험사기 조사 관련 정보, 본인의 위임을 받아 취득한 각종 조사서, 판결문, 증명서, 확인서, 진료기록 등에 포함된 개인(신용)정보 포함 및 손해사정 업무 수행과 관련하여 취득한 개인(신용)정보, 보험계약관계자의 재정상태에 관한 정보</li>
	<li><span class="count">다.</span> 피보험자 및 종피보험자의 질병 및 상해에 관한 정보</li>
</ol>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='한글 2' data-desc=''>
<ol class="txtList hangul">
	<li><span class="count">ㄱ.</span> 보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</li>
	<li><span class="count">ㄴ.</span> 보험금 및 제지급금 지급정보 : 사고정보, 보험사기 조사 관련 정보, 본인의 위임을 받아 취득한 각종 조사서, 판결문, 증명서, 확인서, 진료기록 등에 포함된 개인(신용)정보 포함 및 손해사정 업무 수행과 관련하여 취득한 개인(신용)정보, 보험계약관계자의 재정상태에 관한 정보</li>
	<li><span class="count">ㄷ.</span> 피보험자 및 종피보험자의 질병 및 상해에 관한 정보</li>
</ol>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='disc' data-desc=''>
<ul class="txtList disc">
	<li>보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</li>
	<li>보험금 및 제지급금 지급정보 : 사고정보, 보험사기 조사 관련 정보, 본인의 위임을 받아 취득한 각종 조사서, 판결문, 증명서, 확인서, 진료기록 등에 포함된 개인(신용)정보 포함 및 손해사정 업무 수행과 관련하여 취득한 개인(신용)정보, 보험계약관계자의 재정상태에 관한 정보</li>
	<li>피보험자 및 종피보험자의 질병 및 상해에 관한 정보</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='txtList > li.finish' data-desc='상황에 따라 blind 텍스트 변경'>
<ul class="txtList disc">
	<li class="finish">계약자기준 기본증명서(상세) <span class="blind">제출완료</span></li>
	<li class="finish">미성년자기준 가족관계증명서(상세) <span class="blind">제출완료</span></li>
	<li>미성년자 기준 주민등록등본(상세)</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='disc sm' data-desc=''>
<ul class="txtList disc sm">
	<li>보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</li>
	<li>보험금 및 제지급금 지급정보 : 사고정보, 보험사기 조사 관련 정보, 본인의 위임을 받아 취득한 각종 조사서, 판결문, 증명서, 확인서, 진료기록 등에 포함된 개인(신용)정보 포함 및 손해사정 업무 수행과 관련하여 취득한 개인(신용)정보, 보험계약관계자의 재정상태에 관한 정보</li>
	<li>피보험자 및 종피보험자의 질병 및 상해에 관한 정보</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='disc - 1줄' data-desc=''>
<p class="txtList disc">보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</p>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='dot' data-desc=''>
<ul class="txtList dot">
	<li>보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</li>
	<li>보험금 및 제지급금 지급정보 : 사고정보, 보험사기 조사 관련 정보, 본인의 위임을 받아 취득한 각종 조사서, 판결문, 증명서, 확인서, 진료기록 등에 포함된 개인(신용)정보 포함 및 손해사정 업무 수행과 관련하여 취득한 개인(신용)정보, 보험계약관계자의 재정상태에 관한 정보</li>
	<li>피보험자 및 종피보험자의 질병 및 상해에 관한 정보</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='dot - 1줄' data-desc=''>
<p class="txtList dot">보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</p>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='square' data-desc=''>
<ul class="txtList square">
	<li>보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</li>
	<li>보험금 및 제지급금 지급정보 : 사고정보, 보험사기 조사 관련 정보, 본인의 위임을 받아 취득한 각종 조사서, 판결문, 증명서, 확인서, 진료기록 등에 포함된 개인(신용)정보 포함 및 손해사정 업무 수행과 관련하여 취득한 개인(신용)정보, 보험계약관계자의 재정상태에 관한 정보</li>
	<li>피보험자 및 종피보험자의 질병 및 상해에 관한 정보</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='square - 1줄' data-desc=''>
<p class="txtList square">보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</p>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='dash' data-desc=''>
<ul class="txtList dash">
	<li>보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</li>
	<li>보험금 및 제지급금 지급정보 : 사고정보, 보험사기 조사 관련 정보, 본인의 위임을 받아 취득한 각종 조사서, 판결문, 증명서, 확인서, 진료기록 등에 포함된 개인(신용)정보 포함 및 손해사정 업무 수행과 관련하여 취득한 개인(신용)정보, 보험계약관계자의 재정상태에 관한 정보</li>
	<li>피보험자 및 종피보험자의 질병 및 상해에 관한 정보</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='dash - 1줄' data-desc=''>
<p class="txtList dash">보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</p>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='reference mark(※ : 참조문헌)' data-desc=''>
<ul class="txtList remark">
	<li>보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</li>
	<li>보험금 및 제지급금 지급정보 : 사고정보, 보험사기 조사 관련 정보, 본인의 위임을 받아 취득한 각종 조사서, 판결문, 증명서, 확인서, 진료기록 등에 포함된 개인(신용)정보 포함 및 손해사정 업무 수행과 관련하여 취득한 개인(신용)정보, 보험계약관계자의 재정상태에 관한 정보</li>
	<li>피보험자 및 종피보험자의 질병 및 상해에 관한 정보</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='reference mark(※ : 참조문헌) - 1줄' data-desc=''>
<p class="txtList remark">보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</p>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='star' data-desc=''>
<ul class="txtList star">
	<li>보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</li>
	<li>보험금 및 제지급금 지급정보 : 사고정보, 보험사기 조사 관련 정보, 본인의 위임을 받아 취득한 각종 조사서, 판결문, 증명서, 확인서, 진료기록 등에 포함된 개인(신용)정보 포함 및 손해사정 업무 수행과 관련하여 취득한 개인(신용)정보, 보험계약관계자의 재정상태에 관한 정보</li>
	<li>피보험자 및 종피보험자의 질병 및 상해에 관한 정보</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='star red' data-desc=''>
<ul class="txtList star red">
	<li>보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</li>
	<li>보험금 및 제지급금 지급정보 : 사고정보, 보험사기 조사 관련 정보, 본인의 위임을 받아 취득한 각종 조사서, 판결문, 증명서, 확인서, 진료기록 등에 포함된 개인(신용)정보 포함 및 손해사정 업무 수행과 관련하여 취득한 개인(신용)정보, 보험계약관계자의 재정상태에 관한 정보</li>
	<li>피보험자 및 종피보험자의 질병 및 상해에 관한 정보</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='star - 1줄' data-desc=''>
<p class="txtList star">보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</p>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='star red - 1줄' data-desc=''>
<p class="txtList star red">보험계약정보 : 보험사명, 증권번호, 보험기간, 보험계약일자, 상품명, 담보내용, 보험가입금액, 보험료, 계약유지여부</p>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='step' data-desc=''>
<ol class="txtList step">
	<li>변경하려는 특약의 변경후 가입금액을 입력해주세요.
		<ul class="txtList dash">
			<li>감액신청 : 기존 가입 금액보다 작게 입력</li>
			<li>특약해지(해약) : ‘□ 특약해지’를 체크해주세요.</li>
		</ul>
	</li>
	<li>[계산] 버튼을 클릭해주세요.</li>
	<li>실지급 금액이 있는 경우는 지급계좌를 선택하고, 다음 단계를 진행해 주세요.</li>
</ol>
</div><!-- section -->


</div><!-- likeSubpage -->

</body>
</html>