<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">

<!---------------------- section ----------------------->
<div class="section done" data-title='성공(완료)' data-desc=''>
<div class="msgArea succ">
	<p class="copy">요청하신 <span class="pointC1">출금한도감액신청</span> 거래가 <br>아래와 같이 <span class="pointC1">처리</span>되었습니다.</p>
	<p class="desc">설명문구 있을 경우</p>
</div>
	
<!-- btnArea (s) -->
<div class="btnArea">
	<a href="#" class="btn_p">확인</a>
</div>
<!-- btnArea (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='실패(오류)' data-desc=''>
<div class="msgArea fail">
	<p class="copy">요청하신 <span class="pointC4">보험계약대출 상환</span>이 <br>처리되지 않았습니다.</p>
	<p class="desc">자세한 심사결과를 확인하고 싶으신 경우 <br>콜센터(<a href="tel:1588-5580">1588-5580</a>)로 전화주시기 바랍니다.</p>
	<p class="desc pointC4">오류코드 : 123456</p>
</div>
	
<!-- btnArea (s) -->
<div class="btnArea">
	<button type="button" class="btn_p">확인</button>
</div>
<!-- btnArea (e) -->

<!-- ARS 고객센터 안내 (s) -->
<div class="arsCenter">
	<h2 class="tit">ARS 고객센터 안내</h2>
	<button type="button" class="links arrow">ARS 단축번호 안내</button>
	<ul class="txtList disc">
		<li><em>상담사 연결</em> 평일 09:00 ~ 18:00</li>
		<li><em>ARS 서비스</em> 365일 08:00 ~ 23:00
			<p class="txtList remark">단, 카드분실 신고는 24시간 가능</p>
		</li>
	</ul>
	<div class="telInfo">
		<a href="tel:1588-5580" class="tel">1588-5580</a>
		<span>(해외 <a href="tel:82-2-2131-3000">+82-2-2131-3000</a>)</span>
	</div>
</div>
<!-- ARS 고객센터 안내 (e) -->
</div><!-- section -->

<div class="section done" data-title='결과없음' data-desc=''>
<div class="noData">
	<p>조회된 보험계약이 없습니다.</p>
	<p class="txtList remark">자세한 심사결과를 확인하고 싶으신 경우 <br>콜센터(<a href="tel:1588-5580">1588-5580</a>)로 전화주시기 바랍니다.</p>
</div>
</div><!-- section -->

</div><!-- likeSubpage -->

</body>
</html>