<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='데이터 테이블 가로형 - 기본' data-desc=''>
<!-- table (s) -->
<div class="tblWrap">
	<table class="tblX">
	<colgroup>
		<col style="width:24%">
		<col style="width:auto" span="2">
	</colgroup>
	<thead>
		<tr>
			<th scope="col">구분</th>
			<th scope="col">갱신형 보험</th>
			<th scope="col">비갱신형 보험</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="th_bg ac">보험료<br>변동</th>
			<td>갱신 시점마다 변경</td>
			<td>갱신 시점의 고객 연령 및 위험률 변동</td>
		</tr>
		<tr>
			<th class="th_bg ac">보험료<br>변동<br>요인</th>
			<td>갱신 시점의 고객 연령 및 위험률 변동</td>
			<td>해당사항 없음<br> (가입 시 전체 보험기간에 대한 위험률을 확정 적용 후 균등 분할하여 납입)</td>
		</tr>
	</tbody>
	</table>
</div>
<!-- table (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='데이터 테이블 가로형 - 세로줄 없음' data-desc=''>
<!-- table (s) -->
<div class="tblWrap">
	<table class="tblX noLine">
	<colgroup>
		<col style="width:auto" span="3">
	</colgroup>
	<thead>
		<tr>
			<th scope="col">회차</th>
			<th scope="col">상환일</th>
			<th scope="col">원금(원)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>(무)신한하나로설계통합보험(순수보장형) </td>
			<td class="ar">2,492,550</td>
			<td class="ar pointC6">2,160,890</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th scope="row">합계</th>
			<td class="ar">2,492,550</td>
			<td class="ar pointC6">2,160,890</td>
		</tr>
	</tfoot>
	</table>
</div>
<!-- table (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='데이터 테이블 세로형' data-desc=''>
<!-- table (s) -->
<div class="tblWrap">
	<table class="tblY">
	<colgroup>
		<col style="width:30%">
		<col style="width:auto">
	</colgroup>
	<tbody>
		<tr>
			<td class="th">신청방법</td>
			<td>홈페이지(사이버센터), 모바일센터, 고객센터, 고객센터/지점방문</td>
		</tr>
		<tr>
			<td class="th">구비서류<br>(방문시)</td>
			<td>
				<ul class="txtList dash">
					<li>계약내용 변경신청서(3)<span class="pointC4">*</span></li>
					<li>주민등록증 또는 운전면허증 사본</li>
				</ul>
			</td>
		</tr>
	</tbody>
	</table>
</div>
<!-- table (e) -->
</div><!-- section -->

</div><!-- likeSubpage -->

</body>
</html>