<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<!---------------------- section ----------------------->
<div class="section done" data-title='Tooltip - 기본' data-desc='div에 넣고 그냥 사용하면 됩니다.'>
<div class="toolTip col_5">툴팁 기본형입니다. div에 넣고 그냥 사용하면 됩니다.col_1~col_12로 넓이를 조절하면 됩니다.</div>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='Tooltip - 타이틀 + 내용' data-desc='텍스트 리스트도 그냥 사용하면 됩니다.'>
<div class="toolTip col_4">
	<p class="titH5">타이틀</p>
	<ul class="txtList dash">
		<li>텍스트리스트도 그냥 사용하면 됩니다.</li>
		<li>텍스트리스트도 그냥 사용하면 됩니다.</li>
		<li>텍스트리스트도 그냥 사용하면 됩니다.</li>
	</ul>
</div>
</div><!-- section -->

</div><!-- likeSubpage -->

</body>
</html>