<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<!---------------------- section done ----------------------->
<div class="section done" data-title='기본 텍스트 size' data-desc=''>
<span>body 1.6rem</span>
</div><!-- section done -->

<!---------------------- section done ----------------------->
<div class="section done" data-title='텍스트 size 2XL' data-desc=''>
<span class="txt2XL">텍스트 size 2.8rem</span>
</div><!-- section done -->

<!---------------------- section done ----------------------->
<div class="section done" data-title='텍스트 size XL' data-desc=''>
<span class="txtXL">텍스트 size 2.0rem</span>
</div><!-- section done -->

<!---------------------- section done ----------------------->
<div class="section done" data-title='텍스트 size L' data-desc=''>
<span class="txtL">텍스트 size 1.8rem</span>
</div><!-- section done -->

<!---------------------- section done ----------------------->
<div class="section done" data-title='텍스트 size M' data-desc=''>
<span class="txtM">텍스트 size 1.6rem</span>
</div><!-- section done -->

<!---------------------- section done ----------------------->
<div class="section done" data-title='텍스트 size S' data-desc=''>
<span class="txtS">텍스트 size 1.4rem</span>
</div><!-- section done -->

<!---------------------- section done ----------------------->
<div class="section done" data-title='텍스트 size XS' data-desc=''>
<span class="txtXS">텍스트 size 1.2rem</span>
</div><!-- section done -->

<!---------------------- section done ----------------------->
<div class="section done" data-title='텍스트 굵기' data-desc=''>
<span style="font-weight:300">가늘게(기본) - Light / font-weight:300;</span><br>
<span style="font-weight:500">중간(강조) - Medium / font-weight:500;</span><br>
<span style="font-weight:700">굵게(Visual) - Bold / font-weight:700;</span>
</div><!-- section done -->

<!---------------------- section done ----------------------->
<div class="section done" data-title='폰트 basic color' data-desc=''>
<span class="basicC1">Title - basicC1</span><br>
<span class="basicC2">Body - basicC2</span><br>
<span class="basicC3">Disable - basicC3</span><br>
<span class="basicC4">Placeholder - basicC4</span>
</div><!-- section done -->

<!---------------------- section done ----------------------->
<div class="section done" data-title='폰트 point color' data-desc=''>
<span class="pointC1">링크, 선택 - pointC1</span><br>
<span class="pointC2">중요고지 - pointC2</span><br>
<span class="pointC3">승인, 알림 - pointC3</span><br>
<span class="pointC4">경고, 필수항목 - pointC4</span>
</div><!-- section done -->


</div><!-- likeSubpage -->

</body>
</html>