<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀2 + 문장 (하단간격)' data-desc=''>
<h2 class="titH2">확인서(구속성 판매 간주행위 확인서)</h2>
<p class="txt">신한생명보험 주식회사 귀중<br><br>피성년후견인 또는 피한정후견인은 금융소비자 보호법 시행령 제15조 제4항 1호라목 및 금융소비자 보호 감독규정 제14조 4항에 따라 당사로부터의 대출 전∙후 1개월 내에 당사 보험상품 가입이 원칙적으로 제한됩니다.<br><br>
따라서 귀하가 피성년후견인 또는 피한정후견인인 경우, 당사와 보허상품 계약을 체결한 날로부터 1개월 이내라면 당사 대출상품 계약에 따른 대출을 진행하는 것이 원칙적으로 제한됩니다. 또한 당사로부터 대출금을 제공받은 이후 1개월 내에 보험상품 계약을 체결하는 것 역시 원칙적으로 제한됩니다.<br><br>
이에 따라 당사는 금융소비자보호법 준수를 위해, 귀하의 피성년후견인 또는 피한정후견인 여부를 확인하고자 합니다. 아래 내용 중 고객님께 해당하는 내용에 대하여 선택하여 주시기 바랍니다.</p>

<p class="titH4">비대면 서류제출 자동화서비스 이용 정의</p>
<p>본인의 금융거래 및 서비스(변경정정접수, 세금환급신청접수 등)이용 시 별도로 이용기관(국세청, 대법원) 홈페이지에 로그인하여 고객의 업무에 필요한 서류를 출력하여 은행에 제출하는 번거로움을 없애고자, 비대면 채널(인터넷, 모바일 등)에서 본인의 공인인증서를 기반으로 이용기관에 자동으로 접속하여 서류를 전자적 방식으로 제출하는 서비스</p>

</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀2 + links' data-desc=''>
<!-- titArea (s) -->
<div class="titArea">
	<h2 class="titH3">가입특약</h2>
	<a href="#" class="links arrow">자동이체변경</a>
</div>
<!-- titArea (e) -->

<!-- titArea (s) -->
<div class="titArea">
	<p class="titH4">제출서류</p>
	<button type="button" class="icoBtn_infoPop info">유의사항</button>
</div>
<!-- titArea (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀2 + checkbox' data-desc=''>
<!-- titArea (s) -->
<div class="titArea">
	<h2 class="titH3">보험계약대출목록</h2>
	<span class="single">
		<input type="checkbox" class="ipt" name="" id="chk_all">
		<label for="chk_all" class="sm">전체선택</label>
	</span>
</div>
<!-- titArea (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='테이블 또는 리스트 정보 - tblInfo' data-desc=''>
<div class="tblInfo">
	<div class="info">최대 10건까지 선택 가능합니다.</div>
	<div class="fr">
		<em class="pointC6">4</em>/10개
	</div>
</div>
</div><!-- section -->

</div><!-- likeSubpage -->

</body>
</html>