<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<style>
	.section .tabList.subTab {padding-bottom:0;}
	.section .tabList.subTab > li {border: 3px solid transparent !important; border-radius:0;}
	.section .tabList.subTab > li.on {color:#222;}
	.section .tabList.subTab > li.on:after {border-radius:3px !important; background-color:#fff; box-shadow:none; border:0;}
</style>

<!---------------------- section ----------------------->
<div class="section done" data-title='tabList' data-desc=''>
<!-- tabList (s) -->
<ul class="tabList">
	<li class="on">계약상세</li>
	<li>가입특약</li>
	<li>보장내역</li>
	<li>해지환급금</li>
</ul>
<!-- tabList (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='subTab' data-desc=''>
<!-- subTab (s) -->
<ul class="tabList subTab">
	<li class="on">중도인출</li>
	<li>보험계약 대출</li>
	<li>보험계약자 대출</li>
</ul>
<!-- subTab (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='tabList - Include Tab Function' data-desc='실제 화면전환 없이 탭기능일때'>
<!-- tabWrap (s) -->
<div class="tabWrap">
	<ul class="tabList">
		<li class="on">탭1</li>
		<li>탭2</li>
		<li>탭3</li>
		<li>탭4</li>
	</ul>

	<div class="tabContents">
		<!-- 탭 콘텐츠 (s) -->
		<div class="tabPanel">탭 1 내용</div>
		<!-- 탭 콘텐츠 (e) -->
		<!-- 탭 콘텐츠 (s) -->
		<div class="tabPanel">탭 2 내용</div>
		<!-- 탭 콘텐츠 (e) -->
		<!-- 탭 콘텐츠 (s) -->
		<div class="tabPanel">탭 3 내용</div>
		<!-- 탭 콘텐츠 (e) -->
		<!-- 탭 콘텐츠 (s) -->
		<div class="tabPanel">탭 4 내용</div>
		<!-- 탭 콘텐츠 (e) -->
	</div>
</div>
<!-- tabWrap (e) -->
</div><!-- section -->

</div><!-- likeSubpage -->

</body>
</html>