<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='나의 접수내역 리스트' data-desc=''>
<div class="tblInfo line">
	<div class="info">
		<p class="result">총 <em>3</em>건이 조회되었습니다.</p>
	</div>
	<div class="fr">
		<div class="toggleBtnArea">
			<span class="toggleSwitch">
				<input type="checkbox" id="switch">
				<label for="switch"><span class="blind">수령가능한 선물만 보기</span></label>
			</span>
			<span aria-hidden="true">수령가능한 선물만 보기</span>
		</div>
	</div>
</div>

<div class="tblInfo line">
	<div class="info">
		<select class="ipt" title="셀렉트">
			<option selected="">셀렉트</option>
			<option>셀렉트</option>
			<option>셀렉트</option>
		</select>
		<div class="txtItem">
			<span><em>전체</em> 00건</span>
			<span><em>지급</em> 00건</span>
			<span><em>납입</em> 00건</span>
		</div>
	</div>
	<div class="fr">
		<button type="button" class="btn_t s"><span>수익률 비교</span></button>
		<button type="button" class="btn_t s"><span>펀드 추가</span></button>
		<button type="button" class="btn_s s"><span>선택삭제</span></button>
	</div>
</div>

<div class="tblInfo">
	<p>직업명을 선택하세요.</p>
</div>

<div class="tblInfo">
	<div class="info">
		<p class="result"><em class="val">‘서울특별시’</em> 지점 총 <em>24</em>건</p>
	</div>
	<div class="fr">
		영업시간 안내
		<div class="toolTip col_6">
			<strong class="basicC1">영업시간 안내</strong>
			<p>업무 및 운영(점심)시간이 지점별로 상이 할수 있으니 사전 확인 후 방문하시기 바랍니다.</p>
			<p class="txtList disc">점심시간 : 12시 ~ 13시</p>
		</div>
	</div>
</div>

<div class="tblInfo">
	<p class="result">진행중인 계약이 총 <em>3</em>건이 조회되었습니다.</p>
</div>

<!-- bbs list (s) -->
<ul class="bbsList">
	<li>
		<a href="#" class="bbsHead">
			<div class="titArea">
				<div class="state">
					<span class="flag_qs">고객접수</span>
					<span class="flag_bs">일반</span>
				</div>
				<div class="tit">일반진단서로 후유장해 보험금을 청구할 수는 없나요?</div>
			</div>
			<div class="date">2020.11.26</div>
		</a>
	</li>
	<li>
		<a href="#" class="bbsHead">
			<div class="titArea">
				<div class="state">
					<span class="flag_as">답변완료</span>
					<span class="flag_bs">칭찬</span>
				</div>
				<div class="tit">재해사고 보험금을 청구하려고 합니다. 재해입증서류는 어떤것이 있나요? 재해사고 보험금을 청구하려고 합니다. 재해입증서류는 어떤것이 있나요? 재해사고 보험금을 청구하려고 합니다. 재해입증서류는 어떤것이 있나요? 재해사고 보험금을 청구하려고 합니다. 재해입증서류는 어떤것이 있나요?</div>
			</div>
			<div class="date">2020.11.26</div>
		</a>
	</li>
</ul>
<!-- bbs list (e) -->

<!-- paging (s) -->
<div class="paging" role="navigation" aria-label="페이지 선택 영역">
	<button type="button" class="icoBtn_start" disabled="disabled"><span>처음</span></button>
	<button type="button" class="icoBtn_prev"><span>이전</span></button>
	<ul>
		<li class="on"><em><span class="blind">현재 페이지</span> 1</em></li>
		<li><a href="#"><span class="blind">페이지</span>2</a></li>
		<li><a href="#"><span class="blind">페이지</span>3</a></li>
		<li><a href="#"><span class="blind">페이지</span>4</a></li>
		<li><a href="#"><span class="blind">페이지</span>5</a></li>
		<li><a href="#"><span class="blind">페이지</span>6</a></li>
		<li><a href="#"><span class="blind">페이지</span>7</a></li>
		<li><a href="#"><span class="blind">페이지</span>8</a></li>
		<li><a href="#"><span class="blind">페이지</span>9</a></li>
		<li><a href="#"><span class="blind">페이지</span>10</a></li>
	</ul>
	<button type="button" class="icoBtn_next"><span>다음</span></button>
	<button type="button" class="icoBtn_end"><span>마지막</span></button>
</div>
<!-- paging (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='공시실 리스트' data-desc='첨부파일이 있을 경우 리스트에서 다운로드 가능합니다.'>
<!-- bbs list (s) -->
<ul class="bbsList">
	<li>
		<div class="bbsHead">
			<div class="titArea">
				<a href="#" class="tit">신한그룹 3사(신한금투, 신한생명, 오렌지라이프) 공동 데이터 신사업전략 컨설팅 업체 선정의 건 신한그룹 3사(신한금투, 신한생명, 오렌지라이프) 공동 데이터 신사업전략 컨설팅 업체 선정의 건 신한그룹 3사(신한금투, 신한생명, 오렌지라이프) 공동 데이터 신사업전략 컨설팅 업체 선정의 건</a>
			</div>
			<div class="down"><a href="#"><img src="../../resources/images/cdh/common/ico_file_pdf.svg" alt="첨부파일 다운로드 pdf : 신한그룹 3사(신한금투, 신한생명, 오렌지라이프) 공동 데이터 신사업전략 컨설팅 업체 선정의 건"></a></div>
			<div class="date">2020.11.26</div>
		</div>
	</li>
	<li>
		<div class="bbsHead">
			<div class="titArea">
				<a href="#" class="tit">[자산운용보고서] 피델리티자산운용</a>
			</div>
			<div class="down"><a href="#"><img src="../../resources/images/cdh/common/ico_file_doc.svg" alt="첨부파일 다운로드 doc : [자산운용보고서] 피델리티자산운용"></a></div>
			<div class="down"><a href="#"><img src="../../resources/images/cdh/common/ico_file_xls.svg" alt="첨부파일 다운로드 xls : [자산운용보고서] 피델리티자산운용"></a></div>
			<div class="date">2020.11.26</div>
		</div>
	</li>
	<li>
		<div class="bbsHead">
			<div class="titArea">
				<a href="#" class="tit">[자산운용보고서] 피델리티자산운용</a>
			</div>
			<div class="term">운용기간 : 2020.03.25 ~ 2020.08.25</div>
			<div class="down"><a href="#"><img src="../../resources/images/cdh/common/ico_file_zip.svg" alt="첨부파일 다운로드 zip : [자산운용보고서] 피델리티자산운용"></a></div>
			<div class="date">2020.11.26</div>
		</div>
	</li>
</ul>
<!-- bbs list (e) -->

<!-- paging (s) -->
<div class="paging" role="navigation" aria-label="페이지 선택 영역">
	<button type="button" class="icoBtn_start" disabled="disabled"><span>처음</span></button>
	<button type="button" class="icoBtn_prev"><span>이전</span></button>
	<ul>
		<li class="on"><em><span class="blind">현재 페이지</span> 1</em></li>
		<li><a href="#"><span class="blind">페이지</span>2</a></li>
		<li><a href="#"><span class="blind">페이지</span>3</a></li>
		<li><a href="#"><span class="blind">페이지</span>4</a></li>
		<li><a href="#"><span class="blind">페이지</span>5</a></li>
		<li><a href="#"><span class="blind">페이지</span>6</a></li>
		<li><a href="#"><span class="blind">페이지</span>7</a></li>
		<li><a href="#"><span class="blind">페이지</span>8</a></li>
		<li><a href="#"><span class="blind">페이지</span>9</a></li>
		<li><a href="#"><span class="blind">페이지</span>10</a></li>
	</ul>
	<button type="button" class="icoBtn_next"><span>다음</span></button>
	<button type="button" class="icoBtn_end"><span>마지막</span></button>
</div>
<!-- paging (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='게시판 view' data-desc=''>
<!-- bbs view (s) -->
<div class="bbsView">
	<div class="bbsHead">
		<div class="titArea">
			<div class="state">
				<span class="flag_qs">고객접수</span>
				<span class="flag_bs">일반</span>
			</div>
			<h1 class="tit">일반진단서로 후유장해 보험금을 청구할 수는 없나요?</h1>
		</div>
		<div class="date">등록일자 : 2020.07.30</div>
	</div>

	<div class="bbsBody">
		안녕하세요. 얼마전 신한생명에서 보험가입한 사람입니다.<br>
		이 밤 그날의 반딧불을 당신의 창 가까이 보낼게요 음 사랑한다는 말이예요. 나 우리의 첫 입맛춤을 떠올려 그럼 언제든 눈을 감고<br>
		음 가장 먼 곳으로 가요. 난 파도가 머물던 모래 위에 적힌 글씨처럼 그대로 멀리 사라져 버릴 것 같아 늘 그리워 그리워<br><br>

		어떻게 나에게 난 파도가 머물던 모래 위에 적힌 글씨처럼그대가 멀리 사라져 버릴 것 같아 또 그리워 더 그리워 나의 일기장 안에 모든 말을 다 꺼내어 줄 순 없지만 사랑한다는 말 이 밤 그날의 반딧불을 당신의 창 가까이 띄울게요 음 좋은 꿈 이길 바라요.<br><br>

		답변 부탁드릴께요~ 감사합니다.
	</div>

	<div class="bbsAttach">
		<div>
			<span class="file">첨부파일이 1건 있습니다.</span>
			<div class="toolTip col_5">
				고객님께서 첨부하신 파일은 고객님의 개인정보보호를 위해 암호화 처리되어 조회가 가능하지 않습니다.<br>
				첨주하신 파일내용 확인하시려면 콜센터(<a href="tel:1588-5580">1588-5580</a>)로 연락주시기 바랍니다.
			</div>
		</div>
	</div>

	<ul class="bbsAttach">
		<li>
			<a href="#" class="file pdf" title="첨부파일 다운로드">파일명 1.pdf</a>
		</li>
		<li>
			<a href="#" class="file doc" title="첨부파일 다운로드">abcdefghijklnmopqrstuvwxyz.doc</a>
		</li>
		<li>
			<a href="#" class="file xls" title="첨부파일 다운로드">첨부파일첨부파일첨부파일첨부파일첨부파일첨부파일첨부파일첨부파일첨부파일첨부파일첨부파일첨부파일.xls</a>
		</li>
		<li>
			<a href="#" class="file zip" title="첨부파일 다운로드">첨부파일첨부파일첨부파일첨부파일.zip</a>
		</li>
	</ul>

	<div class="bbsAnswer">
		<h2 class="manager">관리자 답변</h2>
		안녕하세요. 얼마전 신한생명에서 보험가입한 사람입니다.<br>
		이 밤 그날의 반딧불을 당신의 창 가까이 보낼게요 음 사랑한다는 말이예요. 나 우리의 첫 입맛춤을 떠올려 그럼 언제든 눈을 감고<br>
		음 가장 먼 곳으로 가요. 난 파도가 머물던 모래 위에 적힌 글씨처럼 그대로 멀리 사라져 버릴 것 같아 늘 그리워 그리워<br><br>

		어떻게 나에게 난 파도가 머물던 모래 위에 적힌 글씨처럼그대가 멀리 사라져 버릴 것 같아 또 그리워 더 그리워 나의 일기장 안에 모든 말을 다 꺼내어 줄 순 없지만 사랑한다는 말 이 밤 그날의 반딧불을 당신의 창 가까이 띄울게요 음 좋은 꿈 이길 바라요.<br><br>

		답변 부탁드릴께요~ 감사합니다.
	</div>
</div>
<!-- bbs view (e) -->

<ul class="bbsPager">
	<li>
		<a href="#" class="tit">
			<span class="itemPrev">이전글</span>
			[카테고리] 이전글 제목이 출력됩니다.
		</a>
	</li>
	<li>
		<a href="#" class="tit">
			<span class="itemNext">다음글</span>
			[카테고리] 다음글 제목이 출력됩니다. 다음글 제목이 출력됩니다. 다음글 제목이 출력됩니다. 다음글 제목이 출력됩니다. 다음글 제목이 출력됩니다. 다음글 제목이 출력됩니다.
		</a>
	</li>
	<li>
		<span class="tit">
			<span class="itemPrev">이전글</span>
			등록된 게시물이 없습니다.
		</span>
	</li>
	<li>
		<span class="tit">
			<span class="itemNext">다음글</span>
			등록된 게시물이 없습니다.
		</span>
	</li>
</ul>

<!-- btnArea (s) -->
<div class="btnArea">
	<a href="#" class="btn_s"><span>삭제</span></a>
	<a href="#" class="btn_t"><span>목록</span></a>
</div>
<!-- btnArea (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='소비자보호우수사례 - 이미지 게시판' data-url='/html_cdh/cdhe/CDHE0130.html'>
<!-- imgBbs list (s) -->
<ul class="imgBbsList">
	<li>
		<div class="thum"><img src="../../resources/images/cdh/temp/고객컨설턴트 발대식.png" alt="고객컨설턴트 발대식"></div>
		<div class="cont">
			<h1 class="tit">고객의견 반영한 서비스 개선 ‘고객컨설턴트’제도 운영</h1>
			<div class="txt ellip">고객의 의견과 입장을 반영해 고객서비스를 실질적으로 개선하고자 지난 2016년 고객 컨설턴트 제도를 도입해 매년 시행해오고 있으며, 선발된 고객 컨설턴트들은 오는 5월부터 3개월 동안 월 1~2회의 정기모임 및 과제발표 등을 통해 모바일 채널을 통한 청약프로세스 전반을 점검하고 완전판매를 위해 소비자가 체감할 수 있는 개선안 등을 발굴하는 활동을 한다. 제안 아이디어들은 추후 실제 업무 프로세스에 적용해 대고객 보험서비스에 5월부터 3개월 동안 월 1~2회의 정기모임 및 과제발표 고객의 의견과 입장을 반영해 고객서비스를 실질적으로 개선하고자 지난 2016년 고객 컨설턴트 제도를 도입해 매년 시행해오고 있으며, 선발된 고객 컨설턴트들은 오는 5월부터 3개월 동안 월 1~2회의 정기모임 및 과제발표 등을 통해 모바일 채널을 통한 청약프로세스 전반을 점검하고 완전판매를 위해 소비자가 체감할 수 있는 개선안 등을 발굴하는 활동을 한다. 제안 아이디어들은 추후 실제 업무 프로세스에 적용해 대고객 보험서비스에 5월부터 3개월 동안 월 1~2회의 정기모임 및 과제발표 등을 고객의 의견과 입장을 반영해 고객서비스를 실질적으로 개선하고자 지난 2016년 고객 컨설턴트 제도를 도입해 매년 시행해오고 있으며, 선발된 고객 컨설턴트들은 오는 5월부터 3개월 동안 월 1~2회의 정기모임 및 과제발표 등을 통해 모바일 채널을 통한 청약프로세스 전반을 점검하고 완전판매를 위해 소비자가 체감할 수 있는 개선안 등을 발굴하는 활동을 한다.</div>
			<button type="button" class="more">더보기</button>
			<div class="hashtagGroup">
				<span class="hashtag">#2020</span>
				<span class="hashtag">#오렌지라이프</span>
			</div>
		</div>
	</li>
	<li>
		<div class="thum"><img src="../../resources/images/cdh/common/thum_noimg.png" alt=""></div>
		<div class="cont">
			<h1 class="tit">FC재능 기부 통해 아동 및 청소년 대상 ‘오렌지금융교실’ 진행</h1>
			<div class="txt ellip">오렌지금융교실은 아동 및 청소년들이 금융에 대해 올바른 인식을 가질 수 있도록 돕는 사회공헌활동으로, 오렌지라이프 FC가 학교를 직접 방문해 용돈관리, 신용관리 등 실생활 중심의 금융지식을 제공하며 금융업 진로탐색 등 아이들의 학년에 따른 다양한 맞춤형 수업도 함께 진행한다.</div>

			<div class="hashtagGroup">
				<span class="hashtag">#2020</span>
				<span class="hashtag">#오렌지라이프</span>
			</div>
		</div>
	</li>
	<li>
		<div class="cont">
			<h1 class="tit">오렌지라이프, KSQI 16년 연속 우수 콜센터 선정</h1>
			<div class="txt ellip">한국능률협회컨설팅(KMAC)이 평가하는 ‘한국 산업의 서비스품질지수(KSQI, Korean Service Quality Index)’조사에서 오렌지라이프는 서비스 전 과정에서 높은 점수를 획득해 16년 연속 우수 콜센터 기업으로 선정 △통화연결시도 횟수, △말 속도, △고객에게 신뢰를 주는 자신감 있는 응대, △문의에 대한 적극적인 안내, △고객이 알아들을 수 있게 쉽게 설명 등 총 6개 영역에서 최고점수를 얻었으며 특히 고객 요청에 신속하게 응대하고 이해할 수 있게 설명하는 등 고객관점에서 서비스를 제공한 부분에서 높이 평가</div>

			<div class="hashtagGroup">
				<span class="hashtag">#2020</span>
				<span class="hashtag">#오렌지라이프</span>
			</div>
		</div>
	</li>
</ul>
<!-- bbs list (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='보험지식센터, 나만의 신한라이프 - 이미지 게시판' data-url='/html_cdh/cdhb/CDHB0020.html'>
<ul class="photoBbsList">
	<li>
		<a href="">
			<div class="thum">
				<img src="../../resources/images/cdh/temp/img_insu_info_01_thum.jpg" alt="">
			</div>
			<div class="cate">전체</div>
			<div class="tit">내가 받게 되는 보험금, 보험금액일까, 보험가액일까?</div>
		</a>
	</li>
	<li>
		<a href="">
			<div class="thum">
				<img src="../../resources/images/cdh/temp/img_insu_info_02_thum.jpg" alt="">
			</div>
			<div class="cate">금융</div>
			<div class="tit">만기환급형 보험과 순수보장형 보험의 차이점은?</div>
		</a>
	</li>
	<li>
		<a href="">
			<div class="thum">
				<img src="../../resources/images/cdh/temp/img_bbs_thum_1.png" alt="">
			</div>
			<div class="cate">금융</div>
			<div class="tit">보험계약자, 보험대상자, 보험수익자란?</div>
		</a>
	</li>
	<li>
		<a href="">
			<div class="thum">
				<img src="../../resources/images/cdh/temp/img_bbs_thum_0.png" alt="">
			</div>
			<div class="cate">금융</div>
			<div class="tit">보험료 납입에 관한 2가지 귀띔, 보험료 납입기간과 보험료 납입유예기간</div>
		</a>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='인쇄물광고 - 이미지 게시판' data-url='/html_cdh/cdhh/CDHH0310.html'>
<ul class="printsBbsList">
	<!-- 오버,포커스시 on클래스 -->
	<li data-download="다운로드파일 url 삽입 ex)OOOO.zip" data-popup="lp.open('/html_cdh/cdhh/CDHH0020P.html','jaParam')">
		<div class="hoverArea">
			<div class="thum">
				<img src="../../resources/images/cdh/temp/big_poster1.jpg" alt="">
			</div>
			<div class="tit">진심을 품은 종신보험(무배당, 해지환급금 일부지급형)</div>
		</div>
	</li>
	<li data-download="다운로드파일 url 삽입 ex)OOOO.zip" data-popup="lp.open('/html_cdh/cdhh/CDHH0020P.html','jaParam')">
		<div class="hoverArea">
			<div class="thum">
				<img src="../../resources/images/cdh/temp/big_poster2.jpg" alt="">
			</div>
			<div class="tit">진심을 품은 종신보험(무배당, 해지환급금 일부지급형)</div>
		</div>
	</li>
	<li data-download="다운로드파일 url 삽입 ex)OOOO.zip" data-popup="lp.open('/html_cdh/cdhh/CDHH0020P.html','jaParam')">
		<div class="hoverArea">
			<div class="thum">
				<img src="../../resources/images/cdh/temp/big_poster3.jpg" alt="">
			</div>
			<div class="tit">진심을 품은 종신보험(무배당, 해지환급금 일부지급형)</div>
		</div>
	</li>
	<li data-download="다운로드파일 url 삽입 ex)OOOO.zip" data-popup="lp.open('/html_cdh/cdhh/CDHH0020P.html','jaParam')">
		<div class="hoverArea">
			<div class="thum">
				<img src="../../resources/images/cdh/temp/big_poster4.jpg" alt="">
			</div>
			<div class="tit">진심을 품은 종신보험(무배당, 해지환급금 일부지급형)</div>
		</div>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='TV광고 - 동영상 게시판' data-url='/html_cdh/cdhh/CDHH0300.html'>
<ul class="videoBbsList">
	<li>
		<a href="">
			<div class="thum">
				<img src="../../resources/images/cdh/temp/img_movie10.jpg" alt="">
				<div class="playTime"><span class="blind">재생시간</span>01:32</div>
			</div>
			<div class="tit">살맛나는 인생 신한생명 편 살맛나는 인생 신한생명 편 살맛나는 인생 신한생명 편 살맛나는 인생 신한생명 편</div>
		</a>
	</li>
	<li>
		<a href="">
			<div class="thum">
				<img src="../../resources/images/cdh/temp/img_movie11.jpg" alt="">
				<div class="playTime"><span class="blind">재생시간</span>01:32</div>
			</div>
			<div class="tit">살맛나는 인생 신한생명 편</div>
		</a>
	</li>
	<li>
		<a href="">
			<div class="thum">
				<img src="../../resources/images/cdh/temp/img_movie12.jpg" alt="">
				<div class="playTime"><span class="blind">재생시간</span>01:32</div>
			</div>
			<div class="tit">살맛나는 인생 신한생명 편</div>
		</a>
	</li>
</ul>
<ul class="videoBbsList sm">
	<li>
		<a href="">
			<div class="thum">
				<img src="../../resources/images/cdh/temp/img_movie10.jpg" alt="">
				<div class="playTime"><span class="blind">재생시간</span>01:32</div>
			</div>
			<div class="tit">살맛나는 인생 신한생명 편 살맛나는 인생 신한생명 편 살맛나는 인생 신한생명 편 살맛나는 인생 신한생명 편</div>
		</a>
	</li>
	<li>
		<a href="">
			<div class="thum">
				<img src="../../resources/images/cdh/temp/img_movie11.jpg" alt="">
				<div class="playTime"><span class="blind">재생시간</span>01:32</div>
			</div>
			<div class="tit">살맛나는 인생 신한생명 편</div>
		</a>
	</li>
	<li>
		<a href="">
			<div class="thum">
				<img src="../../resources/images/cdh/temp/img_movie12.jpg" alt="">
				<div class="playTime"><span class="blind">재생시간</span>01:32</div>
			</div>
			<div class="tit">살맛나는 인생 신한생명 편</div>
		</a>
	</li>
	<li>
		<a href="">
			<div class="thum">
				<img src="../../resources/images/cdh/temp/img_movie13.jpg" alt="">
				<div class="playTime"><span class="blind">재생시간</span>01:32</div>
			</div>
			<div class="tit">살맛나는 인생 신한생명 편</div>
		</a>
	</li>
</ul>
</div><!-- section -->


</div><!-- likeSubpage -->

</body>
</html>