<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<style>
	.swiperWrap {opacity:1;}
</style>

<!---------------------- section ----------------------->
<div class="section done" data-title='통 이미지 배너 롤링' data-desc=''>
<!-- 롤링 배너 (s) -->
<div class="imgBanner swiperWrap" data-inner="true">
	<ul class="slideList">
		<li>
			<a href="#">
				<img src="../../resources/images/cdh/temp/temp_cdhg0020_pc_1.jpg" alt="마음을 담아 보험을 선물하세요. 보험선물하기" class="hiddenMb"> <!-- pc용 띠 배너 -->
				<img src="../../resources/images/cdh/temp/temp_cdhg0020_mb_1.jpg" alt="마음을 담아 보험을 선물하세요. 보험선물하기" class="visibleMb"> <!-- 모바일용 띠 배너 -->
			</a>
		</li>
		<li>
			<a href="#">
				<img src="../../resources/images/cdh/temp/temp_cdhg0020_pc_2.jpg" alt="마음을 담아 보험을 선물하세요. 보험선물하기" class="hiddenMb"> <!-- pc용 띠 배너 -->
				<img src="../../resources/images/cdh/temp/temp_cdhg0020_mb_2.jpg" alt="마음을 담아 보험을 선물하세요. 보험선물하기" class="visibleMb"> <!-- 모바일용 띠 배너 -->
			</a>
		</li>
		<li>
			<a href="#">
				<img src="../../resources/images/cdh/temp/temp_cdhg0020_pc_3.jpg" alt="마음을 담아 보험을 선물하세요. 보험선물하기" class="hiddenMb"> <!-- pc용 띠 배너 -->
				<img src="../../resources/images/cdh/temp/temp_cdhg0020_mb_3.jpg" alt="마음을 담아 보험을 선물하세요. 보험선물하기" class="visibleMb"> <!-- 모바일용 띠 배너 -->
			</a>
		</li>
	</ul>
</div>
<!-- 롤링 배너 (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='통 이미지 배너 단수' data-desc=''>
<div class="imgBanner">
	<a href="#">
		<img src="../../resources/images/cdh/temp/temp_cdhg0020_pc_1.jpg" alt="마음을 담아 보험을 선물하세요. 보험선물하기" class="hiddenMb"> <!-- pc용 띠 배너 -->
		<img src="../../resources/images/cdh/temp/temp_cdhg0020_mb_1.jpg" alt="마음을 담아 보험을 선물하세요. 보험선물하기" class="visibleMb"> <!-- 모바일용 띠 배너 -->
	</a>
</div>
</div><!-- section -->

<div class="section done" data-title='아이콘 + 텍스트 배너 롤링' data-desc=''>
<!-- 롤링 배너 (s) -->
<div class="systemBanner swiperWrap" data-inner="true">
	<ul class="slideList">
		<li>
			<a href="#link">
				<div class="imgCell">
					<img src="../../resources/images/cdh/temp/bnn_img_cha.png" alt="" class="hiddenMb">
					<img src="../../resources/images/cdh/temp/bnn_img_cha_mb.png" alt="" class="visibleMb">
				</div>
				<div class="infoCell">
					<p class="bold">금융소비자를 위한 유용한 정보 여기 다 있네!</p>
				</div>
				<div class="btnCell">
					<span class="btn_p m">
						<span>온라인 문의</span>
					</span>
				</div>
			</a>
		</li>
		<li>
			<a href="#link">
				<div class="imgCell">
					<img src="../../resources/images/cdh/temp/bnn_img_cha.png" alt="" class="hiddenMb">
					<img src="../../resources/images/cdh/temp/bnn_img_cha_mb.png" alt="" class="visibleMb">
				</div>
				<div class="infoCell">
					<p>각종 생활스포츠 및 레저 활동을 즐기는 당신이라면<br>
						<span class="bold">(무)신한스포츠&레저보장보험</span>과 함께하세요!</p>
				</div>
			</a>
		</li>
		<li>
			<a href="#link">
				<div class="imgCell">
					<img src="../../resources/images/cdh/temp/bnn_img_cha.png" alt="" class="hiddenMb">
					<img src="../../resources/images/cdh/temp/bnn_img_cha_mb.png" alt="" class="visibleMb">
				</div>
				<div class="infoCell">
					<p class="bold">찾으시는 정보가 없으신가요?</p>
					<p class="desc">온라인문의를 통해 문의내용을 접수해 주시면 친절하게 안내해드립니다.</p>
				</div>
				<div class="btnCell">
					<span class="btn_p m">
						<span>온라인 문의</span>
					</span>
				</div>
			</a>
		</li>
	</ul>
</div>
<!-- 롤링 배너 (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='아이콘 + 텍스트 배너 단수' data-desc=''>
<div class="systemBanner">
	<a href="#link">
		<div class="imgCell">
			<img src="../../resources/images/cdh/temp/bnn_img_cha.png" alt="" class="hiddenMb">
			<img src="../../resources/images/cdh/temp/bnn_img_cha_mb.png" alt="" class="visibleMb">
		</div>
		<div class="infoCell">
			<p class="bold">금융소비자를 위한 유용한 정보 여기 다 있네!</p>
		</div>
		<div class="btnCell">
			<span class="btn_p m">
				<span>온라인 문의</span>
			</span>
		</div>
	</a>
</div>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='아이콘 + 텍스트 배너 단수' data-desc=''>
<div class="systemLink">
	<a href="#link">
		<div class="imgCell">
			<img src="../../resources/images/cdh/temp/bnn_img_cha.png" alt="">
		</div>
		<div class="infoCell">
			<p class="tit">나의 접수내역 확인</p>
		</div>
	</a>
</div>
</div><!-- section -->

</div><!-- likeSubpage -->

</body>
</html>