<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">

<!---------------------- section ----------------------->
<div class="section done" data-title='Primary Button(긍정/다음) : class="btn_p"' data-desc=''>
<a href="#" class="btn_p"><span>긍정/다음 a link</span></a>
<input type="button" name="" class="btn_p" value="긍정/다음 input">
<button type="button" class="btn_p"><span>긍정/다음 Button</span></button>
<button type="button" class="btn_p" disabled="disabled"><span>긍정/다음 disabled</span></button>
<button type="button" class="btn_p m"><span>긍정/다음 Button</span></button>
<button type="button" class="btn_p s"><span>긍정/다음 Button</span></button>
<button type="button" class="btn_p"><span>2줄 부터는<br> button 사용 할 것</span></button>
<button type="button" class="btn_p"><span>이메일 수신거부<br><span class="fwL">(E-mail unsubscribe)</span></span></button>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='Secondary Button(부정/이전) : class="btn_s"' data-desc=''>
<a href="#" class="btn_s"><span>부정/이전 a link</span></a>
<input type="button" name="" class="btn_s" value="부정/이전 input">
<button type="button" class="btn_s"><span>부정/이전 Button</span></button>
<button type="button" class="btn_s" disabled="disabled"><span>부정/이전 disabled</span></button>
<button type="button" class="btn_s m"><span>부정/이전 Button</span></button>
<button type="button" class="btn_s s"><span>부정/이전 Button</span></button>
<button type="button" class="btn_s"><span>2줄 부터는<br> button 사용 할 것</span></button>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='Tertiary Button(강조/번외) : class="btn_t"' data-desc=''>
<a href="#" class="btn_t"><span>강조/번외 a link</span></a>
<button type="button" class="btn_t"><span>강조/번외 Button</span></button>
<button type="button" class="btn_t m"><span>강조/번외 Button</span></button>
<button type="button" class="btn_t s"><span>강조/번외 Button</span></button>
<button type="button" class="btn_t s a"><span>강조/번외 Button</span></button>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='더보기 - 모바일 리스트' data-desc=''>
<button type="button" class="btn_s m more"><span>더보기</span></button>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='사용예 : 페이지 하단' data-desc=''>
<!-- btnArea (s) -->
<div class="btnArea">
	<a href="#" class="btn_s"><span>부정/이전</span></a>
	<a href="#" class="btn_p"><span>긍정/다음</span></a>
</div>
<!-- btnArea (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='사용예 : 페이지 하단문구' data-desc=''>
<!-- consideMsg (s) -->
<div class="consideMsg">
	<p class="copy">사고보험금 청구를 진행 하시겠습니까?</p>
	<p class="desc">사이버창구는 사망/진단/장해를 제외한 500만원 이하 보험금 청구만 가능합니다.</p>
</div>
<!-- consideMsg (e) -->
			
<!-- btnArea (s) -->
<div class="btnArea">
	<a href="#" class="btn_s"><span>부정/이전</span></a>
	<a href="#" class="btn_p"><span>긍정/다음</span></a>
</div>
<!-- btnArea (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='아이콘 + 텍스트 버튼 1' data-desc=''>
<button class="btnIco_srch"><span>검색</span></button>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='아이콘 + 텍스트 버튼 2' data-desc=''>
<button type="button" class="btn_t m addIco"><span>강조/번외 Button</span><em class="ico_newWin"></em></button>
<a href="#" class="btn_t m addIco" target="_blank"><span>강조/번외 Button</span><em class="ico_newWin"></em></a>
<button type="button" class="btn_t s addIco"><span>다운로드</span><em class="ico_down"></em></button>
<a href="#" class="btn_t s addIco"><span>다운로드</span><em class="ico_down"></em></a>
<button type="button" class="btn_t s a addIco"><span>다운로드</span><em class="ico_down"></em></button>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='아이콘 + 텍스트 버튼 3' data-desc=''>
<button type="button" class="btn_t s a addIco"><em class="ico_file"></em><span>다운로드</span></button>
<button type="button" class="btn_t s a addIco"><em class="ico_file xls"></em><span>다운로드</span></button>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='아이콘 버튼' data-desc=''>
<button type="button" class="icoBtn_reset"><span>초기화</span></button>
<button type="button" class="icoBtn_infoPop"><span>상세정보</span></button>
</div><!-- section -->


</div><!-- likeSubpage -->

</body>
</html>