<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<!---------------------- section ----------------------->
<div class="section done" data-title='선 3분할' data-desc='' data-url="../../html_h1/mcd/H1MCD109S04.html">
<div class="conDiv_3 line">
	<ol class="inner">
		<li>
			<h3 class="tit"><span class="step">Step.1</span> 신청인 → 접수금융회사</h3>
			<p class="desc">거래 금융회사 영업점(고객센터) 또는 홈페이지에 접속하여 주소 일괄 변경 신청</p>
		</li>
		<li>
			<h3 class="tit"><span class="step">Step.2</span> 접수금융회사 → 처리금융회사</h3>
			<p class="desc">요청을 접수한 금융회사가 신청인이 선택한 금융회사에 주소 변경 신청</p>
		</li>
		<li>
			<h3 class="tit"><span class="step">Step.3</span> 처리금융회사 → 신청인</h3>
			<p class="desc">각 금융회사에서 주소 변경 처리 후 신청인에게 문자메시지 통지</p>
		</li>
	</ol>
</div>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀1' data-desc='font-size:28px'>
<!-- titArea (s) -->
<div class="titArea">
	<h2 class="titH2">컨텐츠 타이틀1</h2>
	<p class="desc">신청인 정보를 입력해주세요.</p>
</div>
<!-- titArea (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀2' data-desc='font-size:22px'>
<!-- titArea (s) -->
<div class="titArea">
	<h2 class="titH3">컨텐츠 타이틀2</h2>
	<p class="desc">신청인 정보를 입력해주세요.</p>
</div>
<!-- titArea (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀3' data-desc='font-size:18px / margin-top:27px'>
<h4 class="titH4">컨텐츠 타이틀3</h4>
</div><!-- section -->


</div><!-- likeSubpage -->

</body>
</html>