<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>
<div class="likeSubpage">
<style>
	.section [class^=conBox] + [class^=conBox] {margin-top:25px;}
	[class*=col_] {display:inline-block; position:relative; min-height:1px; vertical-align:middle;}
	.col_1 {width:8.3333% !important;}
	.col_2 {width:16.6666% !important;}
	.col_3 {width:25% !important;}
	.col_4 {width:33.3333% !important;}
	.col_5 {width:41.6666% !important;}
	.col_6 {width:50% !important;}
	.col_7 {width:58.3333% !important;}
	.col_8 {width:66.6666% !important;}
	.col_9 {width:75% !important;}
	.col_10 {width:83.3333% !important;}
	.col_11 {width:91.6666% !important;}
	.col_12 {width:100% !important;}
</style>

<!---------------------- section ----------------------->
<div class="section done" data-title='고객확인제도 등록' data-desc=''>
<!-- 고객확인제도 등록 (s) -->
<div class="conBox boxGrp">
	<div class="block">
		<div class="infoCell">
			<span class="tit">고객확인제도(CDD, EDD)가 무엇인가요?</span>
			<p>고객님의 안전한 금융거래를 위해 「특정금융거래정보법」에 따라 금융회사가 고객의 성명, 주민등록번호, 연락처, 실제소유자 여부 등을 확인하는 제도입니다.</p>
		</div>
		<div class="boxCell">
			<div class="box">
				<span class="tit">CDD</span>
				<span class="cont">고객확인<br>(Customer Due Diligence)</span>
			</div>
			<div class="box">
				<span class="tit">EDD</span>
				<span class="cont">강화된 고객확인<br>(Enhanced Due Diligence)</span>
			</div>
		</div>
	</div>
</div>
<!-- 고객확인제도 등록 (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='담당 설계사 정보' data-desc=''>
<!-- 담당 설계사 정보 (s) -->
<div class="plannerInfo">
	<div class="titCell">
		<div class="img">
			<img src="../../resources/images/cdh/content/ico_paper.png" alt="" class="hiddenMb">
			<img src="../../resources/images/cdh/content/ico_paper_m.png" alt="" class="visibleMb">
		</div>
		<p class="desc">온라인 상담/문의를 이용하세요!</p>
		<span class="tit">담당 설계사</span>
		<a href="#" class="links arrow">문의하기</a>
	</div>
	<div class="infoCell">
		<ul class="txtList">
			<li><em>이름 :</em> 김신한</li>
			<li><em>담당지점 :</em> 상록지점</li>
			<li><em>이메일 :</em> <a href="mailto:kimsh@shinhanlife.co.kr">kimsh@shinhanlife.co.kr</a></li>
			<li><em>지점 연락처 :</em> <a href="tel:02-1234-5678" class="tel">02-1234-5678</a></li>
		</ul>
	</div>
</div>
<!-- 담당 설계사 정보 (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='ARS 고객센터 안내' data-desc=''>
<!-- ARS 고객센터 안내 (s) -->
<div class="callCenterInfo">
	<div class="tArea">
		<h3 class="tit">ARS 고객센터 안내</h3>
		<a href="#" class="links addIco" target="_blank">ARS 단축번호 안내<em class="ico_newWin"></em></a>
	</div>
	<ul class="txtList disc">
		<li><em>상담사 연결</em> 평일 09:00 ~ 18:00</li>
		<li><em>ARS 서비스</em> 365일 08:00 ~ 23:00 <p class="txtList remark"><span class="hiddenMb">(</span>단, 카드분실 신고는 24시간 가능<span class="hiddenMb">)</span></p></li>
	</ul>
	<div class="telInfo">
		<a href="tel:1588-5580" class="tel">1588-5580</a>
		<span>(해외 <a href="tel:+82-2-2131-3000">+82-2-2131-3000</a>)</span>
	</div>
</div>
<!-- ARS 고객센터 안내 (e) -->
</div><!-- section -->
	
<!---------------------- section ----------------------->
<div class="section done" data-title='링크박스' data-desc='' data-url="../../html_cdh/cdhh/CDHH0440.html">
<div class="linkBox">
	<div class="fl">
		<p>기타 자세한 문의는 가까운 <span class="pointC1">신한생명 SOHO지점에 문의</span>하시기 바랍니다.</p>
	</div>
	<div class="fr">
		<a href="#" class="shortLink addIco"><span>SOHO 지점안내 바로가기</span> <em class="ico_link"></em></a>
	</div>
</div>
<div class="linkBox">
	<div class="fl">
		<p class="titH3 pointC1">펀드변경 후 자주 이용하는 서비스</p>
	</div>
	<div class="fr">
		<a href="#" class="btn_s m"><span>목표 수익률 설정</span></a>
		<a href="#" class="btn_s m"><span>수익률 조회</span></a>
	</div>
</div>
<div class="linkBox">
	<div class="fl">
		<p class="titH3 pointC1">추가 자금이 필요하신가요?</p>
		<p class="desc">신한라이프 보험계약 유지고객만을 위한 무서류, 무방문 신용대출을 확인해보세요!</p>
	</div>
	<div class="fr">
		<a href="#" class="btn_s m"><span>더 알아보기</span></a>
	</div>
</div>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='PDF 다운로드' data-desc='' data-url="../../html_cdh/cdhi/CDHI0030.html">
<div class="pdfLink">
	<div class="fl">
		<p class="txtList remark">PDF 문서가 보이지 않을 경우 Acrobat Reader(한글판)를 설치하세요.</p>
	</div>
	<div class="fr">
		<a href="http://get.adobe.com/kr/reader/" target="_blink" class="links pdf">Acrobat Reader(한글판) 다운로드</a>
	</div>
</div>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 박스 기본형(div.conBox > .block)' data-desc='회색박스(noLine), 굵은라인(notify)' data-url="./sample_pc_conbox.html">
<div class="conBox">
	<div class="block">
		<span class="titL">대상 계약</span>
		<p>2005년 4월 1일 이후 제4회 경험생명표를 적용하여 판매된 신계약(예정이율 4.00%이내 계약) 중 제5회 경험생명표를 적용했을 경우 보험료가 인하되는 무배당보험 계약</p>
		<p class="txtList remark">시행근거 : 보험업감독업무시행세칙 표준사업방법서(제5-13조)제 29조(무배당보험의 기초율 변경)</p>
	</div>
</div>

<div class="conBox noLine">
	<div class="block">
		<ul class="txtList disc">
			<li>대상계약 : 1년 이상 유지된 유효한 배당보험계약</li>
			<li>산출방법 : <em class="basicC1">(전 보험연도말 순보험료식 보험적립금-해약공제액) X (이자율차배당기준율-보험상품별 예정이율)</em></li>
		</ul>
		<p class="txtList remark">금리연동형 보험의 보험상품별 예정이율은 사업연도 개시일이전 1년간의 보험료 적립금 부리이율을 산술평균한 율로 함</p>
	</div>
</div>

<div class="conBox noLine min">
	<div class="block">
		<ul class="txtList remark mt0">
			<li>해지환급금증명서는 조회 당일 기준으로 조회됩니다.</li>
			<li>보험계약이 조회되지 않을 시 드림콜센터 <a href="tel:1588-5580">1588-5580</a>으로 문의바랍니다 .</li>
		</ul>
	</div>
</div>

<div class="conBox notify">
	<div class="block">
		<span class="titL">금융기관명 : 신한라이프생명보험 주식회사(기준일 : 2020.10.01)</span>
		<ul class="txtList dash">
			<li>정부, 지방자치단체, 한국은행, 금융감독원, 예금보험공사, 부보금융기관이 가입한 금융상품은 보호되지 않습니다.</li>
			<li>보험상품은 보험계약자 및 보험료납부자가 법인인 경우에는 보호되지 않습니다. 그러나 확정기여형 퇴직연금보험은 그러하지 않습니다.</li>
			<li>변액보험상품의 경우 본 보호금융상품 목록에는 포함되지 않으나, 약관에서 보험회사가 최저보증하는 보험금에 한하여 보호됩니다.</li>
			<li>예금보험제도에 대한 상세한 정보를 원하시면 영업점에 비치된 예금보험 안내책자를 참고하시거나 예금보험공사<br>(<a href="tel:1588-0037">1588-0037</a>, <a href="http://www.kdic.or.kr" target="_blank">www.kdic.or.kr</a>)로 문의하시기 바랍니다.</li>
		</ul>
	</div>
</div>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 박스 리스트형(ul.conBoxList > li > .block)' data-desc='data-div로 넓이 지정' data-url="./sample_pc_conbox.html">
<ul class="conBoxList" data-div="3">
	<li>
		<div class="block">
			<span class="titL">카드관리</span>
			<ul class="txtList disc">
				<li>카드개설현황 및 한도, 단기카드대출 (현금서비스) 현황 및 한도 조회</li>
				<li>신용카드 발급 가능정보와 최근 상태가 변경된 카드정보 조회</li>
			</ul>
		</div>
	</li>
	<li>
		<div class="block">
			<span class="titL">신용관리</span>
			<ul class="txtList disc">
				<li>실시간 신용등급/신용평점/종합순위 조회</li>
				<li>신용변동 발생 시 SMS/E-Mail 알림 및 변동이력 상세조회</li>
				<li>신용거래정보, 대출정보, 연체정보 상세내역 조회 신용거래정보, 대출정보, 연체정보 상세내역 조회</li>
			</ul>
		</div>
	</li>
	<li>
		<div class="block">
			<span class="titL">카드관리</span>
			<ul class="txtList disc">
				<li>카드개설현황 및 한도, 단기카드대출 (현금서비스) 현황 및 한도 조회</li>
				<li>신용카드 발급 가능정보와 최근 상태가 변경된 카드정보 조회</li>
			</ul>
		</div>
	</li>
	<li>
		<div class="block">
			<span class="titL">신용관리</span>
			<ul class="txtList disc">
				<li>실시간 신용등급/신용평점/종합순위 조회</li>
				<li>신용변동 발생 시 SMS/E-Mail 알림 및 변동이력 상세조회</li>
				<li>신용거래정보, 대출정보, 연체정보 상세내역 조회 신용거래정보, 대출정보, 연체정보 상세내역 조회</li>
			</ul>
		</div>
	</li>
	<li>
		<div class="block">
			<span class="titL">카드관리</span>
			<ul class="txtList disc">
				<li>카드개설현황 및 한도, 단기카드대출 (현금서비스) 현황 및 한도 조회</li>
				<li>신용카드 발급 가능정보와 최근 상태가 변경된 카드정보 조회</li>
			</ul>
		</div>
	</li>
	<li>
		<div class="block">
			<span class="titL">신용관리</span>
			<ul class="txtList disc">
				<li>실시간 신용등급/신용평점/종합순위 조회</li>
				<li>신용변동 발생 시 SMS/E-Mail 알림 및 변동이력 상세조회</li>
				<li>신용거래정보, 대출정보, 연체정보 상세내역 조회 신용거래정보, 대출정보, 연체정보 상세내역 조회</li>
			</ul>
		</div>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 박스 가로분할(infoCell)' data-desc='' data-url="./sample_pc_conbox.html">
<div class="conBox">
	<div class="block">
		<div class="infoCell">
			<span class="tit">사기</span>
			<ul class="txtList disc">
				<li>사고발생을 숨기고 보험을 가입하는 행위</li>
				<li>중대한 병력 또는 직업 등 중요한 사항을 고의적으로 숨기고 사기적인 보험가입 행위</li>
			</ul>
		</div>
		<div class="infoCell">
			<span class="tit">기장 및 날조</span>
			<ul class="txtList disc">
				<li>진단서 위/변조 및 허위진단서 발급 행위</li>
				<li>발생 보험사고의 피해 과장 행위 (과다청구)</li>
			</ul>
		</div>
	</div>
</div>

<div class="conBox noLine">
	<div class="block">
		<div class="infoCell">
			<span class="tit">다누리콜센터</span>
			<div>
				<a href="tel:1577-1366" class="num">1577-1366</a>
				<a href="http://www.liceinkorea.kr" class="links addIco" target="_blank">www.liceinkorea.kr<em class="ico_newWin"></em></a>
			</div>
		</div>
		<div class="infoCell">
			<span class="tit">외국인력지원센터</span>
			<div>
				<a href="tel:1644-0644" class="num">1644-0644</a>
				<a href="http://www.migrantok.org" class="links addIco" target="_blank">www.migrantok.org<em class="ico_newWin"></em></a>
			</div>
		</div>
	</div>
</div>

<div class="conBox notify">
	<div class="block">
		<div class="infoCell">
			<span class="titL">조회대상자</span>
			<p>피상속인(사망자, 실종자 및 금치산자)</p>
		</div>
		<div class="infoCell">
			<span class="titL">조회내용</span>
			<p>조회신청일 기준으로 금융회사에 남아있는 피상속인 명의의 모든 금융채권, 금융채무 및 보관금품의 존재유무 및 공공정보</p>
		</div>
	</div>
</div>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 박스 세로분할(infoDiv)' data-desc='' data-url="./sample_pc_conbox.html">
<ul class="conBoxList" data-div="2">
	<li>
		<div class="block">
			<div class="infoDiv">
				<span class="titL">2007년 12월 31일 이전 사망자</span>
				<p>제적등본, 상속인 신분증</p>
			</div>
			<div class="infoDiv">
				<span class="titL">2008년 1월 1일 이후 사망자</span>
				<ul class="txtList disc">
					<li>사망자의 사망사실(사망일자 포함)이 기재된 기본증명서 또는 사망진단서 원본</li>
					<li>정당한 상속인 여부 확인을 위한 가족관계증명서(필요 시 제적등본)</li>
					<li>상속인 신분증</li>
				</ul>
			</div>
		</div>
	</li>
	<li>
		<div class="block">
			<div class="infoDiv">
				<span class="titL">실종자, 금치산자</span>
				<p>상속인 직접 신청시 필요서류와 법원판결문(원본)</p>
			</div>
			<div class="infoDiv">
				<span class="titL">대리인이 신청하는 경우</span>
				<ul class="txtList disc">
					<li>상속인 직접 신청시 필요서류</li>
					<li>상속인의 인감증명서 및 위임장(상속인 인감도장 날인)</li>
					<li>대리인 신분증</li>
				</ul>
			</div>
		</div>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 박스 가로배치(titCell, txtCell)' data-desc='' data-url="./sample_pc_conbox.html">
<ul class="conBoxList" data-div="2">
	<li>
		<div class="block">
			<div class="titCell col_3">
				<span class="titL">전화 상담</span>
			</div>
			<div class="txtCell">
				<p>보험업무처리/일반상담 : <a href="tel:1588-5580">1588-5580</a> <br>고객불만접수 : <a href="tel:02-3455-4499">02-3455-4499</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="block">
			<div class="titCell col_3">
				<span class="titL">우편</span>
			</div>
			<div class="txtCell">
				<p>(04542) 서울시 중구 삼일대로 358 <br>신한L타워 17층 신한생명 소비자보호팀</p>
			</div>
		</div>
	</li>
	<li>
		<div class="block">
			<div class="titCell col_3">
				<span class="titL">이메일</span>
			</div>
			<div class="txtCell">
				<p>SHL995220@shinhan.com</p>
			</div>
		</div>
	</li>
	<li>
		<div class="block">
			<div class="titCell col_3">
				<span class="titL">팩스</span>
			</div>
			<div class="txtCell">
				<p>02-739-8750</p>
			</div>
		</div>
	</li>
</ul>

<ul class="conBoxList noLine">
	<li>
		<div class="block">
			<div class="titCell col_5">
				<span class="titL">보험가격공시실에서 <br>자신의 보험을 설계해 보세요!</span>
			</div>
			<div class="txtCell">
				<ul class="txtList dash mb0">
					<li>보장내용과 보험료, 보험가입금액 등을 선택하여 보험계약을 <br>직접 설계해 볼 수 있습니다. <a href="DDDDDDDDDDDDDD">(가격공시실)</a></li>
				</ul>
			</div>
		</div>
	</li>
	<li>
		<div class="block">
			<div class="titCell col_5">
				<span class="titL">자격 있는 보험상품 모집인과 <br>거래하세요!</span>
			</div>
			<div class="txtCell">
				<p class="basicC1">무자격모집인과 거래 시 문제가 발생할 수 있으며 피해구제도 곤란할 수 있으므로 <br>자격여부를 꼭 확인하고 거래하세요.</p>
				<ul class="txtList dash mb0">
					<li>보험대리점 : 생명보험협회 보험전문인조회 <a href="http://www.klia.or.kr" class="links addIco" target="_blank">(www.klia.or.kr)<em class="ico_newWin"></em></a></li>
					<li>중개사 : 금융감독원 보험전문인조회 <a href="http://www.fss.or.kr/fss/kr/bsn/insurance/agent/agentlist.jsp" class="links addIco" target="_blank">(www.fss.or.kr/fss/kr/bsn/insurance/agent/agentlist.jsp)<em class="ico_newWin"></em></a></li>
					<li>보험설계사 : 생명보험협회 보험설계사조회 <a href="http://www.klia.or.kr" class="links addIco" target="_blank">(www.klia.or.kr)<em class="ico_newWin"></em></a></li>
					<li>우수인증설계사 : 생명보험협회 우수인증설계사조회 <a href="http://cic.insure.or.kr/prime/primeSrchForm.klia" class="links addIco" target="_blank">(cic.insure.or.kr/prime/primeSrchForm.klia)<em class="ico_newWin"></em></a></li>
				</ul>
			</div>
		</div>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 박스 세로분할(titDiv + infoDiv)' data-desc='' data-url="./sample_pc_conbox.html">
<ul class="conBoxList" data-div="2">
	<li>
		<div class="block">
			<div class="titDiv">
				<span class="tit">개인-본인</span>
			</div>
			<div class="infoDiv">
				<ol class="txtList numL">
					<li>본인 실명확인증
						<ul class="txtList dash">
							<li>주민등록증</li>
							<li>운전면허증/공무원증/여권<br>(유효기간 경과건 불가)</li>
						</ul>
					</li>
					<li>종합통장</li>
					<li>거래인감/서명</li>
				</ol>
			</div>
		</div>
	</li>
	<li>
		<div class="block">
			<div class="titDiv">
				<span class="tit">개인-대리인</span>
			</div>
			<div class="infoDiv">
				<ol class="txtList numL">
					<li>
						<p>대리인 증빙 서류</p>
						<ul class="txtList">
							<li>개인 : 일반대리인
								<ul class="txtList dash">
									<li>가족관계확인서류</li>
									<li>위임장(인감날인)</li>
									<li>인감증명서</li>
								</ul>
							</li>
							<li>법정대리인<br>
								<span class="txtList dash">친권자 확인서류
									<div class="toolTip col_3">툴팁 기본설명 입니다.</div>
								</span>
							</li>
						</ul>
					</li>
				</ol>
			</div>
		</div>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 박스(포인트) 세로분할(titDiv + infoDiv)' data-desc='' data-url="./sample_pc_conbox.html">
<ul class="conBoxList point" data-div="2">
	<li>
		<div class="block">
			<div class="titDiv">
				<span class="titL">10인 미만 사업장 가입 특례</span>
			</div>
			<div class="infoDiv">
				<ul class="txtList dot">
					<li>상시 근로자 10인 미만을 사용하는 사업장이 가입</li>
					<li>월간/연간/기관별 카드 및 단기카드대출 (현금서비스) 이용실적, 연체내역 등 조회</li>
				</ul>
			</div>
		</div>
	</li>
	<li>
		<div class="block">
			<div class="titDiv">
				<span class="titL">확정기여형(DC)과 유사하게 운영됨</span>
			</div>
			<div class="infoDiv">
				<ul class="txtList dot">
					<li>
						<span>부담금</span>
						<ul class="txtList dash">
							<li>근로자가 연간 임금총액의 1/12이상 납입</li>
							<li>1년에 1회 이상 기업이 현금으로 납부, 근로자 추가납부 가능 적립금 운용</li>
						</ul>
					</li>
					<li>
						<span>적립금 운용</span>
						<p>근로자가 적립금 운용에 대한 책임</p>
					</li>
				</ul>
			</div>
		</div>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='신고전화 안내' data-desc='' data-url="./sample_pc_conbox.html">
<ul class="conBoxList point csInfo" data-div="3">
	<li>
		<div class="block">
			<div class="titDiv">
				<span class="titS">지급정지ㆍ피해신고</span>
			</div>
			<div class="infoDiv">
				<p class="tit">경찰청</p>
				<p class="txtS">국번없이</p>
				<a href="tel:112" class="numL">112</a>
			</div>
		</div>
	</li>
	<li>
		<div class="block">
			<div class="titDiv">
				<span class="titS">피싱사이트</span>
			</div>
			<div class="infoDiv">
				<p class="tit">인터넷 진흥원</p>
				<p class="txtS">국번없이</p>
				<a href="tel:118" class="numL">118</a>
			</div>
		</div>
	</li>
	<li>
		<div class="block">
			<div class="titDiv">
				<span class="titS">피해상담 및 환급</span>
			</div>
			<div class="infoDiv">
				<p class="tit">금융감독원</p>
				<p class="txtS">국번없이</p>
				<a href="tel:1332" class="numL">1332</a>
			</div>
		</div>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 박스(스텝)' data-desc='' data-url="./sample_pc_conbox.html">
<!-- titArea (s) -->
<div class="titArea mt0">
	<h2 class="titH2">도입절차</h2>
</div>
<!-- titArea (e) -->

<p class="desc bold">퇴직연금 제도를 도입하기 위해서는 충분한 시간을 두고 <span class="pointC3">노사간의 커뮤니케이션, 퇴직연금사업자선정, 퇴직연금 규약 작성 등의 절차</span>가 필요합니다.</p>

<ol class="conBoxList point stepInfo" data-div="3">
	<li>
		<div class="block">
			<div class="titDiv">
				<span class="titL">도입단계</span>
			</div>
			<div class="infoDiv">
				<ul class="txtList">
					<li>1. 근로자 의견 수렴</li>
					<li>2. 가입자 Data 검토</li>
					<li>3. 기업, 가입자 니즈 분석</li>
					<li>4. 제도도입 결정</li>
					<li>5. 규약 및 계약서 검토</li>
				</ul>
			</div>
		</div>
	</li>
	<li>
		<div class="block">
			<div class="titDiv">
				<span class="titL">진행단계</span>
			</div>
			<div class="infoDiv">
				<ul class="txtList">
					<li>6. 노사협의 및 노동조합 동의</li>
					<li>7. Plan 결정</li>
					<li>8. 퇴직연금 규약 및 취업규칙 작성, 신고</li>
					<li>9. 부담금 산출 및 상품라인업 선정</li>
					<li>10. 제도도입단계</li>
				</ul>
			</div>
		</div>
	</li>
	<li>
		<div class="block">
			<div class="titDiv">
				<span class="titL">제도도입단계</span>
			</div>
			<div class="infoDiv">
				<ul class="txtList">
					<li>11. 퇴직연금 계약 체결</li>
					<li>12. 계좌개설 및 부담금 납부</li>
					<li>13. 상품편입 및 운용 지시</li>
					<li>14. 운용결과 통보</li>
				</ul>
			</div>
		</div>
	</li>
</ol>
<ul class="txtList remark">
	<li>상기 프로세스는 기업 사정에 따라 변동 또는 생략될 수 있습니다.</li>
	<li>기업형 IRA의 경우 ⑧ 단계 먼저 진행됩니다.</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 박스(타이틀+링크/타이틀+다운로드or메뉴이동)' data-desc='' data-url="./sample_pc_conbox.html">
<ul class="conBoxList" data-div="2">
	<li>
		<div class="block">
			<div class="midCell">
				<span class="tit">무배당 신한인터넷정기보험</span>
			</div>
			<div class="btnCell">
				<button type="button" class="btn_s s"><span>보험료계산</span></button>
			</div>
		</div>
	</li>
	<li>
		<div class="block">
			<div class="midCell">
				<span class="tit">상품명이 길게 들어올 경우 두줄 가이드 <br>문구에 맞게 넣어주세요</span>
			</div>
			<div class="btnCell">
				<button type="button" class="btn_s s"><span>부정/이전 Button</span></button>
			</div>
		</div>
	</li>
	<li>
		<a href="#" class="block" target="_blank">
			<div class="midCell">
				<span class="tit">다운로드일 경우</span>
			</div>
			<div class="btnCell">
				<span class="btn_s s"><span>다운로드</span></span>
			</div>
		</a>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 박스(바로가기/다운로드)' data-desc='' data-url="./sample_pc_conbox.html">
<ul class="conBoxList directInfo" data-div="3">
	<li>
		<a href="#" class="block" target="_blank">
			<span class="titL">보험거래단계별정보</span>
			<span>금융상품 거래 시 단계별 <br>(가입전, 가입시, 가입후) 핵심정보를 <br>제공하고 있습니다.</span>
			<span class="linkGroup ac">
				<span class="links addIco">바로가기<em class="ico_newWin"></em></span>
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="block" target="_blank">
			<span class="titL">보험거래단계별정보</span>
			<span>금융상품 거래 시 단계별 <br>(가입전, 가입시, 가입후) 핵심정보를 <br>제공하고 있습니다.</span>
			<span class="linkGroup ac">
				<span class="links addIco">바로가기<em class="ico_newWin"></em></span>
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="block" target="_blank">
			<span class="titL">보험거래단계별정보</span>
			<span>금융상품 거래 시 단계별 <br>(가입전, 가입시, 가입후) 핵심정보를 <br>제공하고 있습니다.</span>
			<span class="linkGroup ac">
				<span class="links addIco">바로가기<em class="ico_newWin"></em></span>
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="block" target="_blank">
			<span class="date">2020.01 ~ 2020.12</span>
			<span class="titL">2020년 3분기</span>
			<span class="linkGroup ac">
				<span class="links addIco">다운로드<em class="ico_down"></em></span>
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="block" target="_blank">
			<span class="date">2020.01 ~ 2020.12</span>
			<span class="titL">2020년 3분기</span>
			<span class="linkGroup ac">
				<span class="links addIco">다운로드<em class="ico_down"></em></span>
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="block" target="_blank">
			<span class="date">2020.01 ~ 2020.12</span>
			<span class="titL">2020년 3분기</span>
			<span class="linkGroup ac">
				<span class="links addIco">다운로드<em class="ico_down"></em></span>
			</span>
		</a>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 박스(다운로드 only)' data-desc='' data-url="./sample_pc_conbox.html">
<ul class="conBoxList noLine fileDown" data-div="3">
	<li>
		<a href="#" class="block" target="_blank">
			<span class="tit">대상상품목록</span>
			<span class="linkGroup">
				<span class="links addIco">다운로드<em class="ico_down"></em></span>
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="block" target="_blank">
			<span class="tit">사업방법서<br>변경대기표</span>
			<span class="linkGroup">
				<span class="links addIco">다운로드<em class="ico_down"></em></span>
			</span>
		</a>
	</li>
	<li>
		<a href="#" class="block" target="_blank">
			<span class="tit">약관 변경대기표</span>
			<span class="linkGroup">
				<span class="links addIco">다운로드<em class="ico_down"></em></span>
			</span>
		</a>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 박스(링크 only)' data-desc='' data-url="./sample_pc_content.html">
<ul class="boxLink div_2">
	<li>
		<a href="http://fine.fss.or.kr" class="block" target="_blank">
			<span class="tit">보험사기근절 웹툰 #1</span>
			<span>보험사기꾼으로 변신한 보험설계사와 가족</span>
		</a>
	</li>
	<li>
		<a href="http://fine.fss.or.kr/main/fin_tip/tip/tip_list.jsp" class="block" target="_blank">
			<span class="tit">보험사기근절 웹툰 #2</span>
			<span>실손의료보험 꿀팁? 보험사기 신고 꿀팁!</span>
		</a>
	</li>
</ul>

<ul class="boxLink noLine branch">
	<li>
		<a href="#link" class="block">
			<span class="tit">
				<em class="num">12345</em>
				<span>홍길동</span>
			</span>
			<span class="txtItem">
				<span>신한생명</span>
				<span>여의도점</span>
				<span>서울특별시</span>
			</span>
		</a>
	</li>
	<li>
		<a href="#link" class="block">
			<span class="tit">
				<em class="num">12345</em>
				<span>홍길동</span>
			</span>
			<span class="txtItem">
				<span>신한생명</span>
				<span>여의도점</span>
				<span>서울특별시</span>
			</span>
		</a>
	</li>
</ul>
</div><!-- section -->


<!---------------------- section ----------------------->
<div class="section done" data-title='블럭 링크(펀드/공공복지서비스/지점안내/건강정보서비스)' data-desc='' data-url="">
<ul class="blockList">
	<li>
		<a href="#" class="block">
			<div class="tit">청소년방과후 아카데미 운영지원</div>
			<p class="desc">평생교육사이트인 ‘배움나라(estudy)’에서 국민의 정보화 역량을 강화하평생교육 사이트인 ‘배움나라(estudy)’에서 국민의 정보화 역량을 강화하 평생교육사이트인 ‘배움나라(estudy)’에서 국민의 정보화 역량을 강화하평생교육 사이트인 ‘배움나라(estudy)’에서 국민의 정보화 역량을 강화하</p>
		</a>
	</li>
	<li>
		<a href="#" class="block">
			<div class="tit">청소년방과후 아카데미 운영지원 청소년방과후 아카데미 운영지원 청소년방과후 아카데미 운영지원</div>
			<p class="desc">방과후 돌봄이 필요한 취약계층 청소년에게 체험활동, 학습지원, 급식, 상담 등 종합</p>
		</a>
	</li>
</ul>

<div class="hpFlag">
	<span class="flag_hp_on">현재진료가능</span>
	<span class="flag_hp_of">현재일반진료불가</span>
	<span class="flag_hp_em">응급실운영</span>
	<span class="flag_hp_ro">입원실운영</span>
	<span class="flag_hp_pe">소아진료</span>
	<span class="flag_hp_ho">공휴일운영</span>
</div>
<ul class="blockList contact">
	<li>
		<a href="#" class="block">
			<div class="txt hiddenMb">지역응급의료기관</div>
			<div class="tit"><span class="blind">기관명</span>  서울특별시서울의료원</div>
			<div class="txt"><span class="blind">주소</span> 서울특별시 중랑구 신내동 156(신내동)</div>

			<div class="hpFlag">
				<span class="flag_hp_on">현재진료가능</span>
				<span class="flag_hp_of">현재일반진료불가</span>
				<span class="flag_hp_em">응급실운영</span>
				<span class="flag_hp_ro">입원실운영</span>
				<span class="flag_hp_pe">소아진료</span>
				<span class="flag_hp_ho">공휴일운영</span>
			</div>
		</a>
		<div class="tel">
			<span class="blind">대표전화</span>
			<a href="tel:02-227-7000">02-227-7000</a>
			<a href="tel:02-227-7001">02-227-7001(응급실)</a>
		</div>
	</li>
	<li>
		<a href="#" class="block">
			<div class="txt hiddenMb">지역응급의료기관</div>
			<div class="tit"><span class="blind">기관명</span> 서울특별시서울의료원</div>
			<div class="txt"><span class="blind">주소</span> 서울특별시 중랑구 신내동 156(신내동)</div>

			<div class="hpFlag">
				<span class="flag_hp_on">현재진료가능</span>
				<span class="flag_hp_of">현재일반진료불가</span>
				<span class="flag_hp_em">응급실운영</span>
				<span class="flag_hp_ro">입원실운영</span>
				<span class="flag_hp_pe">소아진료</span>
				<span class="flag_hp_ho">공휴일운영</span>
			</div>
		</a>
		<div class="tel">
			<span class="blind">대표전화</span>
			<a href="tel:02-227-7000">02-227-7000</a>
		</div>
	</li>
</ul>

<ul class="blockList contact">
	<li>
		<a href="#" class="block">
			<div class="txt">고객플라자</div>
			<div class="tit"><span class="blind">지점명</span> ASEM지점</div>
			<div class="time"><span class="blind">영업시간</span> 06:00~15:30</div>
			<div class="txt"><span class="blind">주소</span> 서울특별시 중랑구 신내동 156(신내동)</div>
		</a>
		<div class="tel">
			<span class="blind">대표전화</span>
			<a href="tel:02-227-7000">02-227-7000</a>
		</div>
	</li>
	<li>
		<a href="#" class="block">
			<div class="txt">고객플라자</div>
			<div class="tit"><span class="blind">지점명</span> CENTRAL지점</div>
			<div class="time"><span class="blind">영업시간</span> 06:00~15:30</div>
			<div class="txt"><span class="blind">주소</span> 서울특별시 중랑구 신내동 156(신내동)</div>
		</a>
		<div class="tel">
			<span class="blind">대표전화</span>
			<a href="tel:02-227-7000">02-227-7000</a>
		</div>
	</li>
</ul>

<ul class="blockList fund">
	<li>
		<a href="#" class="block">
			<div class="state">
				<span class="flag_lv6">매우높은위험</span>
				<span class="flag_tp">주식형</span>
				<span class="flag_st">판매중지</span>
			</div>

			<div class="tit"><span class="blind">상품명</span> 맥쿼리 타이완증권자투자신탁(주식) 종류A</div>
			<div class="txt">맥퀴리투자신탕운용</div>
		</a>
	</li>
	<li>
		<a href="#" class="block">
			<div class="state">
				<span class="flag_lv5">다소높은위험</span>
				<span class="flag_tp">주식형</span>
			</div>

			<div class="tit"><span class="blind">상품명</span> 맥쿼리 타이완증권자투자신탁(주식) 맥쿼리 타이완증권자투자신탁(주식) 맥쿼리 타이완증권자투자신탁(주식) 맥쿼리 타이완증권자투자신탁(주식) 종류A</div>
			<div class="txt">맥퀴리투자신탕운용</div>
		</a>
	</li>
	<li>
		<a href="#" class="block">
			<div class="state">
				<span class="flag_lv4">높은위험</span>
				<span class="flag_tp">주식형</span>
				<span class="flag_st">판매중지</span>
			</div>

			<div class="tit"><span class="blind">상품명</span> 맥쿼리 타이완증권자투자신탁(주식) 종류A</div>
			<div class="txt">맥퀴리투자신탕운용</div>
		</a>
	</li>
	<li>
		<a href="#" class="block">
			<div class="state">
				<span class="flag_lv3">보통위험</span>
				<span class="flag_tp">주식형</span>
			</div>

			<div class="tit"><span class="blind">상품명</span> 맥쿼리 타이완증권자투자신탁(주식) 맥쿼리 타이완증권자투자신탁(주식) 맥쿼리 타이완증권자투자신탁(주식) 맥쿼리 타이완증권자투자신탁(주식) 종류A</div>
			<div class="txt">맥퀴리투자신탕운용</div>
		</a>
	</li>
	<li>
		<a href="#" class="block">
			<div class="state">
				<span class="flag_lv2">낮은위험</span>
				<span class="flag_tp">주식형</span>
				<span class="flag_st">판매중지</span>
			</div>

			<div class="tit"><span class="blind">상품명</span> 맥쿼리 타이완증권자투자신탁(주식) 종류A</div>
			<div class="txt">맥퀴리투자신탕운용</div>
		</a>
	</li>
	<li>
		<a href="#" class="block">
			<div class="state">
				<span class="flag_lv1">매우낮은위험</span>
				<span class="flag_tp">주식형</span>
			</div>

			<div class="tit"><span class="blind">상품명</span> 맥쿼리 타이완증권자투자신탁(주식) 맥쿼리 타이완증권자투자신탁(주식) 맥쿼리 타이완증권자투자신탁(주식) 맥쿼리 타이완증권자투자신탁(주식) 종류A</div>
			<div class="txt">맥퀴리투자신탕운용</div>
		</a>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='블럭 링크(해지환급금/대출상품추천)' data-desc='' data-url="/html_cda/cdag/CDAPGI0101P01.html">
<ul class="blockList point">
	<li>
		<a href="#" class="block">
			<div class="tit">중도인출</div>
			<p class="desc">보험 상품에 따라 일정한 한도 내에서 적립금의 일부를 먼저 출금할 수 있습니다.</p>
			<span class="links arrow">중도인출 신청</span>
		</a>
	</li>
	<li>
		<a href="#" class="block">
			<div class="tit">보험계약대출</div>
			<p class="desc">가입하신 보험의 해지환급금 범위 내에서 대출이 가능합니다.</p>
			<span class="links arrow">보험계약대출 신청</span>
		</a>
	</li>
	<li>
		<a href="#" class="block">
			<div class="tit">보험계약자 신용대출</div>
			<p class="desc">1년 이상 보험계약을 유지한 우수고객이라면 최대 3천만원까지 대출이 가능합니다.</p>
			<span class="links arrow">보험계약자 신용대출 신청</span>
		</a>
	</li>
</ul>
<hr>
<ul class="blockList point">
	<li>
		<a href="#" class="block">
			<div class="tit">보험계약자신용대출</div>
			<p class="desc">우수 고객을 위한<br>신용대출</p>
		</a>
	</li>
	<li>
		<a href="#" class="block">
			<div class="tit">보험계약자신용대출</div>
			<p class="desc">우수 고객을 위한<br>신용대출</p>
		</a>
	</li>
	<li>
		<a href="#" class="block">
			<div class="tit">보험계약대출</div>
			<p class="desc">긴급자금 필요할 땐<br>쉽고 빠르게</p>
		</a>
	</li>
	<li>
		<a href="#" class="block">
			<div class="tit">APT담보대출</div>
			<p class="desc">소유중인 APT가<br>있다면</p>
		</a>
	</li>
</ul>
<hr>
<div class="blockListSwiper swiperWrap" data-per-view="4">
	<ul class="blockList point slideList">
		<li>
			<a href="#" class="block">
				<div class="tit">보험계약자신용대출</div>
				<p class="desc">우수 고객을 위한<br>신용대출</p>
			</a>
		</li>
		<li>
			<a href="#" class="block">
				<div class="tit">보험계약자신용대출</div>
				<p class="desc">우수 고객을 위한<br>신용대출</p>
			</a>
		</li>
		<li>
			<a href="#" class="block">
				<div class="tit">보험계약대출</div>
				<p class="desc">긴급자금 필요할 땐<br>쉽고 빠르게</p>
			</a>
		</li>
		<li>
			<a href="#" class="block">
				<div class="tit">APT담보대출</div>
				<p class="desc">소유중인 APT가<br>있다면</p>
			</a>
		</li>
		<li>
			<a href="#" class="block">
				<div class="tit">보험계약대출</div>
				<p class="desc">긴급자금 필요할 땐<br>쉽고 빠르게</p>
			</a>
		</li>
		<li>
			<a href="#" class="block">
				<div class="tit">APT담보대출</div>
				<p class="desc">소유중인 APT가<br>있다면</p>
			</a>
		</li>
	</ul>
</div>
</div><!-- section -->


</div><!-- likeSubpage -->

</body>
</html>