<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<!---------------------- section ----------------------->
<div class="section notReplace done" data-title='formList 기본' data-desc='' data-url="sample_pc_form.html">
<section>
	<!-- titArea (s) -->
	<div class="titArea">
		<h2 class="titH3">출력형 테이블(반응형)</h2>
	</div>
	<!-- titArea (e) -->
	<p class="desc">휴대폰인증을 통해 확인된 고객님의 정보입니다.</p>
	
	<!-- table (s) -->
	<div class="tblWrap">
		<table class="tblY data">
		<colgroup>
			<col style="width:185px">
			<col style="width:auto">
			<col style="width:185px">
			<col style="width:auto">
		</colgroup>
		<tbody>
			<tr>
				<td class="th">이름</td>
				<td>홍*동</td>
				<td class="th">생년월일</td>
				<td>19**-**-**</td>
			</tr>
			<tr>
				<td class="th">성별</td>
				<td>남</td>
				<td class="th">휴대폰</td>
				<td>010-12**-56**</td>
			</tr>
		</tbody>
		</table>
	</div>
	<!-- table (e) -->
</section>

<section>
	<!-- titArea (s) -->
	<div class="titArea">
		<h2 class="titH3">입력폼 테이블(반응형)</h2>
	</div>
	<!-- titArea (e) -->

	<ul class="formList">
		<li>
			<div class="itemTh">이름</div>
			<div class="dataTd">
				<input type="text" class="ipt" title="이름" value="홍길동">
			</div>
		</li>
		<li>
			<div class="itemTh">주민등록번호</div>
			<div class="dataTd">
				<div class="setHalf">
					<input type="tel" class="ipt" maxlength="6" title="주민등록번호 앞 생년월일">
					<span class="sign">-</span>
					<div class="keypad">
						<input type="password" class="ipt" maxlength="7" title="주민등록번호 뒤 7자리">
						<button type="button" class="icoBtn_keypad"><span>보안키보드</span></button>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="itemTh">사용목적</div>
			<div class="dataTd">
				<div class="txtVal">보장성 및 개인연금저축/연금저축보험료 소득 및 세액공제 신청용</div>
			</div>
		</li>
		<li>
			<div class="itemTh">내용</div>
			<div class="dataTd">
				<div class="iptWrap full">
					<textarea class="ipt" title="내용"></textarea>
					<p class="byteTxt"><span class="num">0</span> / <span>4,000</span></p>
				</div>
				<p class="txtList star">고객님의 개인 정보보호를 위해 불필요한 개인정보, 타인의 동의 없는 개인정보는 입력하지 마시고 주위에 유출되지 않도록 주의하시기 바랍니다.</p>
			</div>
		</li>
	</ul>
</section>
</div><!-- section -->


</div><!-- likeSubpage -->

</body>
</html>