<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<!---------------------- section ----------------------->
<div class="section done" data-title='텍스트 링크'>
<button type="button" class="links">Text Button</button>
<a href="#" class="links">Text A Link</a>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='텍스트 링크 묶음(구분선) - 왼쪽 정렬(기본)'>
<div class="linkGroup">
	<a href="#" class="links">상품공시실</a>
	<a href="#" class="links">가격공시실</a>
	<a href="#" class="links">경영공시실</a>
	<a href="#" class="links">방카슈랑스수수료율</a>
	<a href="#" class="links">보호금융상품등록부</a>
	<a href="#" class="links">지점안내</a>
	<a href="#" class="links">본사약도</a>
	<a href="#" class="links">휴면보험금 조회</a>
	<a href="#" class="links">전자민원접수</a>
	<a href="#" class="links">신문고</a>
	<a href="#" class="links">보험범죄신고센터</a>
	<a href="#" class="links">보험모집질서위반신고</a>
	<a href="#" class="links">서민금융1332</a>
	<a href="#" class="links">대출부당,과장광고신고센터</a>
	<a href="#" class="links">장애인보험가입차별신고센터</a>
	<a href="#" class="links">제도권금융권조회</a>
	<a href="#" class="links">이용약관</a>
	<a href="#" class="links">고객권리안내</a>
	<a href="#" class="links">개인정보처리방침</a>
	<a href="#" class="links">고객정보취급방침</a>
	<a href="#" class="links">신용정보활용체제</a>
	<a href="#" class="links">개인(신용)정보이용·제공조회</a>
	<a href="#" class="links">연수원소개</a>
</div>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='텍스트 링크 묶음(구분선) - 가운데 정렬'>
<div class="linkGroup ac">
	<a href="#" class="links">상품공시실</a>
	<a href="#" class="links">가격공시실</a>
	<a href="#" class="links">경영공시실</a>
	<a href="#" class="links">방카슈랑스수수료율</a>
	<a href="#" class="links">보호금융상품등록부</a>
	<a href="#" class="links">지점안내</a>
	<a href="#" class="links">본사약도</a>
	<a href="#" class="links">휴면보험금 조회</a>
	<a href="#" class="links">전자민원접수</a>
	<a href="#" class="links">신문고</a>
	<a href="#" class="links">보험범죄신고센터</a>
	<a href="#" class="links">보험모집질서위반신고</a>
	<a href="#" class="links">서민금융1332</a>
	<a href="#" class="links">대출부당,과장광고신고센터</a>
	<a href="#" class="links">장애인보험가입차별신고센터</a>
	<a href="#" class="links">제도권금융권조회</a>
	<a href="#" class="links">이용약관</a>
	<a href="#" class="links">고객권리안내</a>
	<a href="#" class="links">개인정보처리방침</a>
	<a href="#" class="links">고객정보취급방침</a>
	<a href="#" class="links">신용정보활용체제</a>
	<a href="#" class="links">개인(신용)정보이용·제공조회</a>
	<a href="#" class="links">연수원소개</a>
</div>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='텍스트 링크 묶음(구분선) - 오른쪽 정렬'>
<div class="linkGroup ar">
	<a href="#" class="links">상품공시실</a>
	<a href="#" class="links">가격공시실</a>
	<a href="#" class="links">경영공시실</a>
	<a href="#" class="links">방카슈랑스수수료율</a>
	<a href="#" class="links">보호금융상품등록부</a>
	<a href="#" class="links">지점안내</a>
	<a href="#" class="links">본사약도</a>
	<a href="#" class="links">휴면보험금 조회</a>
	<a href="#" class="links">전자민원접수</a>
	<a href="#" class="links">신문고</a>
	<a href="#" class="links">보험범죄신고센터</a>
	<a href="#" class="links">보험모집질서위반신고</a>
	<a href="#" class="links">서민금융1332</a>
	<a href="#" class="links">대출부당,과장광고신고센터</a>
	<a href="#" class="links">장애인보험가입차별신고센터</a>
	<a href="#" class="links">제도권금융권조회</a>
	<a href="#" class="links">이용약관</a>
	<a href="#" class="links">고객권리안내</a>
	<a href="#" class="links">개인정보처리방침</a>
	<a href="#" class="links">고객정보취급방침</a>
	<a href="#" class="links">신용정보활용체제</a>
	<a href="#" class="links">개인(신용)정보이용·제공조회</a>
	<a href="#" class="links">연수원소개</a>
</div>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='오른쪽 화살표'>
<a href="#" class="links arrow">고객정보 변경</a>
<!-- <button type="button" class="links addIco">오른쪽 화살표 Button<em class="ico_arrow"></em></button>
<a href="#" class="links addIco">오른쪽 화살표 Button<em class="ico_arrow"></em></a> -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='새창열기'>
<button type="button" class="links addIco">새창으로 보기<em class="ico_newWin"></em></button>
<a href="#" class="links addIco" target="_blank">새창으로 보기<em class="ico_newWin"></em></a>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='다운로드'>
<button type="button" class="links addIco">다운로드<em class="ico_down"></em></button>
<a href="#" class="links addIco">다운로드<em class="ico_down"></em></a>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='다운로드'>
<button type="button" class="links addIco b">다운로드<em class="ico_down"></em></button>
<a href="#" class="links addIco b">다운로드<em class="ico_down"></em></a>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='토글 버튼' data-url="/html_h2/bim/H2BIM104S00.html">
<span class="toggleSwitch">
	<input type="checkbox" id="switch">
	<label for="switch"><span class="blind">관리카드 자동등록</span> <span class="on" aria-hidden="true">ON</span><span class="off" aria-hidden="true">OFF</span></label>
</span>
</div><!-- section -->

</div><!-- likeSubpage -->

</body>
</html>