<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">

<!---------------------- section ----------------------->
<div class="section" data-title='Component 이름' data-url="적용된 사이트 URL" data-voice="스크린리더에서 읽어주는 내용 표시">
<ul class="infoList">
	<li>
		<div class="item">이름</div>
		<div class="val">홍*동</div>
	</li>
	<li>
		<div class="item">휴대폰</div>
		<div class="val">010-12**-56**</div>
	</li>
	<li>
		<div class="item">경품명</div>
		<div class="val">스타벅스 기프트콘</div>
	</li>
</ul>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section" data-title='Component 이름' data-url="적용된 사이트 URL" data-voice="스크린리더에서 읽어주는 내용 표시">
<div class="infoWrap">
	<ul class="infoList">
		<li>
			<div class="item">이름</div>
			<div class="val">홍*동</div>
		</li>
		<li>
			<div class="item">휴대폰</div>
			<div class="val">010-12**-56**</div>
		</li>
		<li>
			<div class="item">경품명</div>
			<div class="val">스타벅스 기프트콘</div>
		</li>
	</ul>
</div>
</div><!-- section -->


</div><!-- likeSubpage -->

</body>
</html>