<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">

<!---------------------- section ----------------------->
<div class="section done" data-title='기본 팝업' data-desc='popBody에 col_5 ~ col_12까지 수치로 넓이 조절. 작은팝업은 5, 큰팝업은 12로 생각하시면 편하고 줄바꿈등의 이유로 디테일한 요청이 오면 수치 조절해서 만드시면 됩니다.' data-url="../../html_cdh/ajax/popup_guide.html">
<!-- popup (s) -->
<div class="popWrap">
	<div class="popup">
		<div class="popContain">
			<div class="popCont">
				<div class="popHead">
					<h1 class="titH1">팝업타이틀</h1>
				</div>
				<div class="popBody col_5">
					<div class="popInner">
						<!-- 본문 (s) -->
						
						<section>
							팝업 내용
						</section>
						<!-- 본문 (e) -->
					</div>
				</div>

				<div class="btnArea sticky">
					<button type="button" class="btn_p">신청</button>
				</div>

				<button type="button" class="btnIco_close" onclick="lp.close();"><span>팝업 닫기</span></button>
			</div>
		</div>
	</div>
</div>
<!-- popup (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='Full 팝업' data-desc='col_ 클래스 대신 full 클래스 사용' data-url="../../html_cdh/ajax/popup_guide.html">
<!-- popup (s) -->
<div class="popWrap">
	<div class="popup">
		<div class="popContain">
			<div class="popCont">
				<div class="popHead">
					<h1 class="titH2">팝업타이틀</h1>
				</div>
				<div class="popBody full">
					<div class="popInner">
						<!-- 본문 (s) -->

						<section>
							팝업 내용
						</section>
						<!-- 본문 (e) -->
					</div>
				</div>

				<div class="btnArea sticky">
					<button type="button" class="btn_p">신청</button>
				</div>

				<button type="button" class="btnIco_close" onclick="lp.close();"><span>팝업 닫기</span></button>
			</div>
		</div>
	</div>
</div>
<!-- popup (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='Alert 팝업' data-desc='' data-url="../../html_cdh/ajax/popup_guide.html">
<!-- popup (s) -->
<div class="popWrap">
	<div class="popup">
		<div class="popContain">
			<div class="popCont alert">
				<div class="popHead">
					<h1 class="tit">비밀번호 인증 오류</h1>
				</div>
				<!-- 본문 (s) -->
				<div class="popBody">
					<p>샘플메시지 비밀번호가 입력되지 않았거나, 입력하신 비밀 번호가 일치하지 않습니다.</p>
				</div>
				<!-- 본문 (e) -->

				<div class="btnArea sticky">
					<button type="button" class="btn_s" onclick="lp.close();">취소</button>
					<button type="button" class="btn_p">확인</button>
				</div>

				<!-- <button type="button" class="icoBtn_close" onclick="lp.close();"><span>닫기</span></button> -->
			</div>
		</div>
	</div>
</div>
</div><!-- section -->


</div><!-- likeSubpage -->

</body>
</html>