<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<!---------------------- section ----------------------->
<div class="section done" data-title='상세 Summary' data-desc=''>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='상세 - 아코디언 Summary' data-desc=''>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='결과값 Summary' data-desc=''>
<div class="resulSum">
	<div class="infoCell">
		<div class="tit">자산배분형</div>
	</div>
	<div class="dataCell">
		<a href="#">스마트자산배분형</a>
	</div>
</div>

<hr>

<div class="resulSum client">
	<div class="infoCell">
		<div class="tit">계약자</div>
	</div>
	<div class="dataCell">홍길동</div>
</div>

<hr>

<div class="resulSum total">
	<div class="infoCell">
		<div class="tit">총 적립금</div>
	</div>
	<div class="dataCell">
		<div class="money"><em>26,504,000</em>원</div>
	</div>
</div>

<hr>

<div class="resulSum total">
	<div class="infoCell">
		<ul class="infoRowList">
			<li>
				<div class="item">대출 신청 총액</div>
				<div class="val">4,525,096원</div>
			</li>
			<li>
				<div class="item">(-)기대출금 이자</div>
				<div class="val">22,513원</div>
			</li>
			<li>
				<div class="item">(-)인지세액</div>
				<div class="val">0원</div>
			</li>
		</ul>
	</div>
	<div class="dataCell">
		<div class="tit">실지급금액</div>
		<div class="money"><em>26,504,000</em>원</div>
	</div>
</div>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='변경 전/후 Summary' data-desc=''>
<div class="alterSum">
	<div class="infoCell">
		<div class="item">변경 전</div>
		<div class="val">고객설계형</div>
	</div>
	<div class="infoCell bgColor">
		<div class="item">변경 후</div>
		<div class="val">운용사경쟁형</div>
	</div>
</div>

<hr>

<div class="alterSum">
	<div class="infoCell">
		<ul class="infoList">
			<li>
				<div class="item">툴팁이 있을 경우 
					<div class="toolTip col_5">툴팁 기본형입니다. div에 넣고 그냥 사용하면 됩니다.col_1~col_12로 넓이를 조절하면 됩니다.</div>
				</div>
				<div class="val">80세</div>
			</li>
			<li>
				<div class="item">변경 전 연금개시일</div>
				<div class="val">2045.06.22</div>
			</li>
		</ul>
	</div>
	<div class="infoCell">
		<ul class="infoList">
			<li>
				<div class="item">변경 후 연령</div>
				<div class="val">
					<input type="tel" class="ipt" title="변경 후 연령" data-unit="세">
				</div>
			</li>
			<li>
				<div class="item">변경 후 연금개시일</div>
				<div class="val">
					<p class="desc">변경 할 연령을 입력하시면 노출됩니다.</p>
					<!-- 2045.06.22 -->
				</div>
			</li>
		</ul>
	</div>
</div>

<hr>

<div class="alterSum">
	<div class="infoCell">
		<ul class="infoList">
			<li>
				<div class="item">신청횟수 선택</div>
				<div class="val">
					<select class="ipt" title="신청횟수 선택">
						<option selected="">1회</option>
						<option>셀렉트</option>
						<option>셀렉트</option>
					</select>
				</div>
			</li>
			<li>
				<div class="item">변경 후 연금개시일</div>
				<div class="val">
					<em class="tit">총 3개월 실행예정</em>
					2023.05 ~ <span class="pointC6">2023.07</span>
				</div>
			</li>
		</ul>
	</div>
	<div class="infoCell">
		<div class="item">예상 월 대체보험료</div>
		<div class="val">124,000원</div>
	</div>
</div>

<hr>

<div class="alterSum">
	<div class="infoCell">
		<div class="item">보험 취득 일자</div>
		<div class="val">
			<input type="tel" class="ipt date" title="보험 취득 일자">
			<button type="button" class="btn_t m"><span>보험료 계산</span></button>
		</div>
	</div>
	<div class="infoCell">
		<div class="item">예상환급액
			<button type="button" class="icoBtn_infoPop"><span>예상환급액 유의사항</span></button>	
		</div>
		<div class="val">240,000,000원</div>
	</div>
</div>
</div><!-- section -->

</div><!-- likeSubpage -->

</body>
</html>