<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='민원건수 검색' data-voice="" data-url="./sample_pc_form.html">
<!-- data search (s) -->
<div class="dataSrchBox">
	<span class="label">기준분기</span>
	<div class="setHalf">
		<select class="ipt" title="년도선택">
			<option>2020년</option>
			<option>2019년</option>
		</select>

		<select class="ipt" title="분기선택">
			<option>1분기</option>
			<option>2분기</option>
			<option>3분기</option>
			<option>4분기</option>
		</select>
	</div>
	<button type="button" class="btn_p m"><span>검색</span></button>
</div>
<!-- data search (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='게시판 검색' data-voice="" data-url="./sample_pc_form.html">
<!-- data search (s) -->
<div class="dataSrchBox">
	<span class="label">펀드선택</span>
	<select class="ipt" title="펀드선택">
		<option>전체</option>
		<option>국공채영</option>
	</select>

	<span class="label">기간선택</span>
	<div class="setHalf">
		<input type="tel" class="ipt date">
		<span class="sign">~</span>
		<input type="tel" class="ipt date">
	</div>
	<button type="button" class="btn_p m"><span>검색</span></button>
</div>
<!-- data search (e) -->

<!-- data search (s) -->
<div class="dataSrchBox mb">
	<select class="ipt" title="검색구분">
		<option>전체</option>
	</select>
	<input type="text" class="ipt letterL" title="검색어 입력">

	<button type="button" class="btn_p m"><span>검색</span></button>
</div>
<!-- data search (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done notReplace" data-title='타이틀영역 검색' data-voice="">
<!-- pageTit (s) -->
<div class="pageTit">
	<div class="inner">
		<nav class="crumbs" role="navigation" aria-label="메뉴 경로">
			<ol>
				<li><a href="#" class="icoBtn_home"><span>홈</span></a></li>
				<li><a href="#">이용안내 및 신고센터</a></li>
				<li><a href="#">조회/안내</a></li>
				<li><span>가입설계동의 및 마케팅동의</span></li>
			</ol>
		</nav>

		<h1 class="titH1">실적배당형특별계정</h1>

		<div class="dataSrchBox">
			<select class="ipt" title="검색구분">
				<option>전체</option>
				<option>제목</option>
				<option>내용</option>
			</select>
			<input type="text" class="ipt" title="검색어" placeholder="검색어 입력">

			<button type="button" class="btnIco_srch"><span>검색</span></button>
		</div>
	</div>
</div>
<!-- pageTit (e) -->
</div><!-- section -->


</div><!-- likeSubpage -->

</body>
</html>