<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<style>
	.section .tabWrap.mainTab {position:relative; border-bottom:4px solid #f8f8f8;}
	.section .tabWrap.mainTab:before,
	.section .tabWrap.mainTab:after {content:''; position:absolute; right:0; bottom:0; background-color:#ddd; z-index:0;}
	.section .tabWrap.mainTab:before {left:0; height:1px;}
	.section .tabWrap.mainTab:after {top:0; width:1px;}
	.section .tabWrap.mainTab .tabContents {margin-bottom:-4px; border-top:4px solid #f8f8f8;}
	.section .tabWrap.mainTab .tabContents:before {content:''; position:absolute; left:0; right:0; top:-5px; height:1px; background-color:#ddd;}
</style>

<!---------------------- section ----------------------->
<div class="section done" data-title='pageTab - Just Design' data-desc='디자인만 탭인 경우. 탭끼리 화면 ID가 다르다면 이것에 해당' data-url="./sample_pc_tab.html">
<!-- pageTab (s) -->
<div class="pageTabArea">
	<ul class="tabList pageTab">
		<li><a href="#">탭1</a></li>
		<li class="on"><a href="#">탭2</a></li>
		<li class="disable"><a href="#">탭3</a></li>
	</ul>
</div>
<!-- pageTab (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='mainTab' data-desc='' data-url="./sample_pc_tab.html">
<!-- mainTab (s) -->
<div class="tabWrap">
	<ul class="tabList mainTab">
		<li class="on"><a href="#">탭1</a></li>
		<li><a href="#">탭2</a></li>
		<li><a href="#">탭3</a></li>
		<li><a href="#">탭4</a></li>
	</ul>
</div>
<!-- mainTab (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='mainTab - Include Tab Function' data-desc='실제 화면전환 없이 탭기능일때' data-url="./sample_pc_tab.html">
<!-- mainTab (s) -->
<div class="tabWrap">
	<ul class="tabList mainTab">
		<li class="on"><a href="#">탭1</a></li>
		<li><a href="#">탭2</a></li>
		<li><a href="#">탭3</a></li>
		<li><a href="#">탭4</a></li>
	</ul>

	<div class="tabContents">
		<!-- 탭 콘텐츠 (s) -->
		<div class="tabPanel">탭 1 내용</div>
		<!-- 탭 콘텐츠 (e) -->
		<!-- 탭 콘텐츠 (s) -->
		<div class="tabPanel">탭 2 내용</div>
		<!-- 탭 콘텐츠 (e) -->
		<!-- 탭 콘텐츠 (s) -->
		<div class="tabPanel">탭 3 내용</div>
		<!-- 탭 콘텐츠 (e) -->
		<!-- 탭 콘텐츠 (s) -->
		<div class="tabPanel">탭 4 내용</div>
		<!-- 탭 콘텐츠 (e) -->
	</div>
</div>
<!-- mainTab (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='mainTab 다단' data-url="./sample_pc_tab.html">
<!-- mainTab (s) -->
<div class="tabWrap">
	<ul class="tabList mainTab div_4">
		<li class="on"><a href="#">탭1</a></li>
		<li><a href="#">탭2</a></li>
		<li><a href="#">탭3</a></li>
		<li><a href="#">탭4</a></li>
		<li><a href="#">탭5</a></li>
		<li><a href="#">탭6</a></li>
		<li><a href="#">탭7</a></li>
	</ul>
</div>
<!-- mainTab (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='subTab' data-desc='' data-url="./sample_pc_tab.html">
<!-- subTab (s) -->
<div class="tabWrap">
	<ul class="tabList subTab">
		<li class="on"><a href="#">탭1</a></li>
		<li><a href="#">탭2</a></li>
		<li><a href="#">탭3</a></li>
		<li><a href="#">탭4</a></li>
	</ul>
</div>
<!-- subTab (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='etcTab' data-desc='' data-url="./sample_pc_tab.html">
<!-- etcTab (s) -->
<div class="tabWrap">
	<ul class="tabList etcTab">
		<li class="on"><a href="#">탭1</a></li>
		<li><a href="#">탭2</a></li>
		<li><a href="#">탭3</a></li>
		<li><a href="#">탭4</a></li>
	</ul>
</div>
<!-- etcTab (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='icoTab' data-desc='' data-url="./sample_pc_tab.html">
<!-- icoTab (s) -->
<div class="tabWrap">
	<ul class="tabList icoTab">
		<li class="on">
			<a href="#">
				<span class="ico fnd1"></span>
				<span class="tit">펀드매매</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="ico fnd2"></span>
				<span class="tit">증명서 발급</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="ico fnd3"></span>
				<span class="tit">사고/변경</span>
			</a>
		</li>
	</ul>
	<div class="tabContents">
		<!-- 탭 콘텐츠 (s) -->
		<div class="tabPanel">탭내용1</div>
		<!-- 탭 콘텐츠 (e) -->
		<!-- 탭 콘텐츠 (s) -->
		<div class="tabPanel">탭내용2</div>
		<!-- 탭 콘텐츠 (e) -->
		<!-- 탭 콘텐츠 (s) -->
		<div class="tabPanel">탭내용3</div>
		<!-- 탭 콘텐츠 (e) -->
	</div>
</div>
<!-- icoTab (e) -->
</div><!-- section -->

</div><!-- likeSubpage -->
</body>
</html>