<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<!---------------------- section ----------------------->
<div class="section done" data-title='Tooltip - 기본' data-desc='div에 넣고 그냥 사용하면 됩니다.' data-url="./sample_pc.html#tooltipExample">
<div class="toolTip col_5">툴팁 기본형입니다. div에 넣고 그냥 사용하면 됩니다.col_1~col_12로 넓이를 조절하면 됩니다.</div>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='Tooltip - 텍스트리스트등 복잡한 형태' data-desc='텍스트 리스트도 그냥 사용하면 됩니다.' data-url="./sample_pc.html#tooltipExample">
<div class="toolTip col_4">
	<p class="titH5">타이틀</p>
	<ul class="txtList dash">
		<li>텍스트리스트도 그냥 사용하면 됩니다.</li>
		<li>텍스트리스트도 그냥 사용하면 됩니다.</li>
		<li>텍스트리스트도 그냥 사용하면 됩니다.</li>
	</ul>
</div>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='Tooltip - Notice형태' data-desc='noti class 추가, width값으로 디테일한 넓이값 조절, rel 속성에  툴팁이 뜰 타겟 지정, direction에 방향 지정 (top, bottom, left, right)' data-url="../../html_h1/mcd/H1MCD204S00.html">
<div class="toolTip noti" data-direction="bottom" data-rel="#tipTarget" style="width:220px">매출전표 사본출력 또는 해외 매입내역 이메일 발송은 선택 먼저!</div>
</div><!-- section --> 

</div><!-- likeSubpage -->

</body>
</html>