<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="Shortcut Icon" href="img/favicon_240.png">
</head>

<body>

<div class="likeSubpage">
<!---------------------- section ----------------------->
<div class="section done" data-title='페이지 타이틀' data-desc=''>
<!-- pageTit (s) -->
<div class="pageTit">
	<div class="inner">
		<h1 class="titH1">페이지 타이틀</h1>
		<p class="desc">설명글 설명글 설명글</p>
	</div>
</div>
<!-- pageTit (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀1' data-desc=''>
<!-- titArea (s) -->
<div class="titArea">
	<h2 class="titH2">컨텐츠 타이틀1</h2>
	<p class="desc">설명글</p>
</div>
<!-- titArea (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀 번외(중앙정렬) - PC/MB 가운데 정렬' data-desc=''>
<!-- titArea (s) -->
<div class="titExtra">
	<h2 class="titH2">꼭 알아두어야 할 보험지식들! 지금 바로 확인해보세요.</h2>
	<p class="desc">설명글 설명글 설명글 설명글 설명글 설명글 설명글 설명글 설명글 설명글</p>
</div>
<!-- titArea (e) -->
<p class="basicC1">신한라이프생명보험주식회사(이하 “신한라이프”)는 고객의 자산을 관리·운용하는 수탁자로서 책임을 충실히 이행할 수 있도록 “한국 스튜어드십 코드”에 참여하여 그 내용을
준수할 것을 선언합니다.</p>
<p class="basicC1">“한국 스튜어드십 코드”에서 명시하고 있는 수탁자 책임이란, 투자대상회사의 중장기적인 가치 향상과 지속 가능한 성장을 추구함으로써 고객, 수익자 등의 중장기적인 이익을
도모할 책임을 의미합니다. 스튜어드십 코드(Stewardship Code)는 투자대상회사의 중장기 발전과 고객 및 수익자의 이익을 위하여 적극적인 주주활동을 수행하도록 하는
자율규범이며, 이는 장기투자를 지향하는 당사의 변액보험 운용철학에도 부합합니다. 당사는 수탁자 책임을 충실히 이행함으로써, 신한금융그룹의 미션인 “미래를 함께하는
따뜻한 금융”을 실천하여 고객과 사회의 가치가 커지는 상생의 선순환 구조를 만들어 나가겠습니다.
</p>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀 번외(중앙정렬) - MB 왼쪽 정렬' data-desc=''>
<!-- titArea (s) -->
<div class="titExtra mb">
	<h2 class="titH2">위 타이틀과 다름 모바일화면에서 확인해 볼것</h2>
	<p class="desc">설명글 설명글 설명글 설명글 설명글 설명글 설명글 설명글 설명글 설명글</p>
</div>
<!-- titArea (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀2 + button' data-desc=''>
<!-- titArea (s) -->
<div class="titArea">
	<div class="fl">
		<h3 class="titH3">컨텐츠 타이틀2</h3>
	</div>
	<div class="fr">
		<button type="button" class="btn_t s"><span>버튼</span></button>
		<button type="button" class="btn_t s"><span>버튼 버튼</span></button>
	</div>
</div>
<!-- titArea (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀2 + link' data-desc=''>
<!-- titArea (s) -->
<div class="titArea">
	<div class="fl">
		<h2 class="titH3">가입특약</h2>
	</div>
	<div class="fr">
		<a href="#" class="links arrow">자동이체변경</a>
	</div>
</div>
<!-- titArea (e) -->
</div><!-- section -->
<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀2 + link' data-desc=''>
<!-- titArea (s) -->
<div class="titArea">
	<div class="fl">
		<h2 class="titH3">접수 정보</h2>
	</div>
	<div class="fr">
		<button type="button" class="links infoPop">구비서류 안내</button>
	</div>
</div>
<!-- titArea (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀2 + 단위' data-desc=''>
<!-- titArea (s) -->
<div class="titArea">
	<div class="fl">
		<h3 class="titH3">컨텐츠 타이틀2</h3>
	</div>
	<div class="fr">
		<div class="desc">기준일 : 2020.08.18</div>
	</div>
</div>
<!-- titArea (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀2 + form' data-desc=''>
<!-- titArea (s) -->
<div class="titArea">
	<div class="fl">
		<h3 class="titH3">컨텐츠 타이틀2</h3>
	</div>
	<div class="fr">
		<div class="desc">단위 : 억원 / %, 기준일 :</div>

		<select class="ipt" title="기준일">
			<option value="">기준일</option>
			<option value="">2020.12.31</option>
		</select>
		<button type="button" class="btn_t m"><span>확인</span></button>
	</div>
</div>
<!-- titArea (e) -->
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀3' data-desc=''>
<h4 class="titH4">컨텐츠 타이틀3</h4>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='민트 도트 + 컨텐츠 타이틀3' data-desc=''>
<h4 class="titH4 dot">컨텐츠 타이틀3</h4>
<div class="dotCon">
	<p>계약자가 보험가입시 보험약관과 청약서 부본을 전달받지 못하였거나 청약서에 자필서명 또는 날인(도장을 찍음)을 하지 않았을 경우, 약관의 중요한 내용을 설명 받지 못하였을 때에는 계약이 성립한 날로부터 3개월 이내에 회사에 보험계약의 취소를 요구할 수 있습니다. 다만, 전자거래기본법에 의해 컴퓨터를 이용하여 가상의 영업장(사이버몰)을 이용하여 계약을 체결한 때에는 청약서 부본을 드리지 아니할 수 있습니다.</p>
</div>

<h4 class="titH4 dot">컨텐츠 타이틀3
	<a href="http://www.kdic.or.kr/index.jsp" class="links addIco" target="_blank">(www.kdic.or.kr/index.jsp)<em class="ico_newWin"></em></a>
</h4>
<div class="dotCon">
	<div class="conBox noLine">
		<div class="block">
			<ul class="txtList disc">
				<li>대상계약 : 1년 이상 유지된 유효한 배당보험계약</li>
				<li>산출방법 : <em class="basicC1">(전 보험연도말 순보험료식 보험적립금-해약공제액) X (이자율차배당기준율-보험상품별 예정이율)</em></li>
			</ul>
			<p class="txtList remark">금리연동형 보험의 보험상품별 예정이율은 사업연도 개시일이전 1년간의 보험료 적립금 부리이율을 산술평균한 율로 함</p>
		</div>
	</div>
</div>

<h4 class="titH4 dot">컨텐츠 타이틀3</h4>
<div class="dotCon">
	<ul class="txtList dash">
		<li>근로자가 연간 임금총액의 1/12이상 납입</li>
		<li>1년에 1회 이상 기업이 현금으로 납부, 근로자 추가납부 가능 적립금 운용</li>
	</ul>
</div>
</div><!-- section -->

<!---------------------- section ----------------------->
<div class="section done" data-title='컨텐츠 타이틀4' data-desc=''>
<h5 class="titH5">컨텐츠 타이틀4</h5>
</div><!-- section -->


</div><!-- likeSubpage -->

</body>
</html>